---
import oil from "../../assets/images/AsphaltPlant/oil1.webp";
import ItemsSlider from "../LandinPage/ItemsSlider";
import img1 from "../../assets/images/OilHeaters/21.webp";
import img2 from "../../assets/images/OilHeaters/23.webp";
import img3 from "../../assets/images/OilHeaters/24.webp";
import img4 from "../../assets/images/OilHeaters/22.webp";
import { Image } from "astro:assets";
---

<section
    class="w-full mt-20 md:mt-32 font-bold text-grisT flex flex-col gap-10"
>
    <div class="flex max-w-7xl w-full px-8 mx-auto">
        <h1 class="text-3xl md:text-4xl border-b-2 border-b-blueMain w-fit">
            OIL HEATERS
        </h1>
    </div>
    <div class="w-full text-base md:text-lg max-w-7xl mx-auto px-8">
        <p>
            Engineered for precise temperature regulation, our oil heater
            guarantees uniform heat distribution across the system thanks to its
            advanced thermal oil circulation technology. This ensures optimal
            heating performance, preventing hot spots and maintaining
            temperature consistency throughout the process.
        </p><br />
        <p>
            Built with heavy-duty materials and designed for continuous,
            long-term operation, it’s ideal for demanding industrial
            applications such as asphalt plants and other heat-intensive
            systems. In addition to its proven durability, the heater provides
            outstanding energy efficiency, helping to reduce operating costs
            while maintaining peak performance even under the toughest
            conditions.
        </p>
    </div>
    <div class="w-full max-w-7xl mx-auto px-8 flex justify-center">
        <Image src={oil} alt="Oil heater system" class="" />
    </div>
    <div class="w-full max-w-7xl mx-auto px-8 text-center">
        <h2 class="text-blueMain text-xl md:text-3xl">
            Intelligent Control Systems that Simplify Your Operation
        </h2><br />
        <p class="text-base md:text-lg text-grisT">
            Beyond storage, our oil heaters are equipped with user-friendly
            features like automated monitoring systems, real-time data tracking,
            and efficient unloading mechanisms. These technologies help
            streamline operations, reduce maintenance, and enhance productivity
            across the board.
        </p>
    </div>
    <div
        class="w-full grid grid-cols-2 md:grid-cols-4 gap-8 px-4 sm:px-8 max-w-7xl mx-auto"
    >
        <!-- ITEM -->
        <div
            class="flex flex-col items-center lg:items-start text-center lg:text-start gap-2"
        >
            <Image
                src={img1}
                alt="Box icon"
                class="w-[160px] md:w-[180px] object-contain"
            />

            <p
                class="text-sm md:text-base text-grisT font-light leading-relaxed"
            >
                Triaso oil-heaters allow
            </p>

            <h3 class="text-grisT text-lg md:text-xl font-semibold">
                quick setup
            </h3>

            <p
                class="text-sm md:text-base text-grisT font-light leading-relaxed"
            >
                without heavy machinery, ideal for relocatable operations
            </p>
        </div>

        <!-- ITEM -->
        <div
            class="flex flex-col items-center text-center lg:items-start lg:text-start gap-2"
        >
            <Image
                src={img2}
                alt="Location icon"
                class="w-[160px] md:w-[180px] object-contain"
            />
            <p
                class="text-sm md:text-base text-grisT font-light leading-relaxed"
            >
                Preservation of
            </p>
            <h3 class="text-grisT text-lg md:text-xl font-semibold">quality</h3>

            <p
                class="text-sm md:text-base text-grisT font-light leading-relaxed"
            >
                and integrity of the asphalt.
            </p>
        </div>

        <!-- ITEM -->
        <div
            class="flex flex-col items-center text-center lg:items-start lg:text-start gap-2"
        >
            <Image
                src={img3}
                alt="List icon"
                class="w-[160px] md:w-[180px] object-contain"
            />
            <p
                class="text-sm md:text-base text-grisT font-light leading-relaxed"
            >
                Streamlines operations with oil
            </p>

            <h3 class="text-grisT text-lg md:text-xl font-semibold">
                flow control
            </h3>
        </div>

        <!-- ITEM -->
        <div
            class="flex flex-col items-center text-center lg:items-start lg:text-start gap-2"
        >
            <Image
                src={img4}
                alt="Badge icon"
                class="w-[160px] md:w-[180px] object-contain"
            />

            <h3 class="text-grisT text-lg md:text-xl font-semibold">
                Long-duration retention
            </h3>

            <p
                class="text-sm md:text-base text-grisT font-light leading-relaxed"
            >
                Thermal retention ensures asphalt remains liquid and
                high-quality for
            </p>

            <h3 class="text-grisT text-lg md:text-xl font-semibold">
                extended periods
            </h3>
        </div>
    </div>
</section>
