---
import MiniGallery from "../unitComponents/MiniGallery";
import img1 from '../../assets/images/AsphaltStorage/SliderGalleryStorage/ATS1.jpg';
import img2 from '../../assets/images/AsphaltStorage/SliderGalleryStorage/ATS2.png';
import img3 from '../../assets/images/AsphaltStorage/SliderGalleryStorage/ATS3.jpg';
import img4 from '../../assets/images/AsphaltStorage/SliderGalleryStorage/ATS4.jpg';
import img5 from '../../assets/images/AsphaltStorage/SliderGalleryStorage/ATS5.jpg';
import img6 from '../../assets/images/AsphaltStorage/SliderGalleryStorage/ATS6.jpg';
import img7 from '../../assets/images/AsphaltStorage/SliderGalleryStorage/ATS7.jpg';
import img8 from '../../assets/images/AsphaltStorage/SliderGalleryStorage/ATS8.jpg';
import img9 from "../../assets/images/AsphaltStorage/SliderStorage/P-3a.webp";
import ItemsSlider from "../LandinPage/ItemsSlider";


const gallerySlides = [{img:img1},{img:img2},{img:img3},{img:img4},{img:img5},{img:img6},{img:img7},{img:img8},];
const images1 = [
  { src: '/Gallery/sliderHotMix/1.png', title: 'Preservation of Quality',texto:'Preservation of quality and integrity of the asphalt.' },
  { src: '/Gallery/sliderHotMix/2.png', title: 'Efficient Logistics' ,texto:'Streamlines delivery with automated weighing, ticket printing, and precise material flow control.'},
  { src: '/Gallery/sliderHotMix/3.png', title: 'Versatile Storage Options' ,texto:'Long-duration thermal retention, ensuring it remains liquid and high-quality for extended periods.'},
  { src: '/Gallery/sliderHotMix/4.png', title: 'Mobility' ,texto:'Triaso asphalt tanks allow quick setup without heavy machinery, ideal for relocatable operations.'},
  { src: '/Gallery/sliderHotMix/5.png', title: 'Durability' ,texto:'Built with reinforcerd material, thermally insulated cylinders, and corrosion-resistant finishes.'},
  { src: '/Gallery/sliderHotMix/6.png', title: 'Seamless Integration',texto:'Compatible with asphalt plant systems through protocols like Ethernet Industrial, Modbus, and CANopen.' },
  { src: '/Gallery/sliderHotMix/7.png', title: 'Enhanced Safety' ,texto:'Equipped with guards, alarms, and visual indicators to protect personnel and equipment.'},
  { src: '/Gallery/sliderHotMix/8.png', title: 'Cost-Effective' ,texto:'Reduces downtime, transportation costs, and maintenance with efficient design and reliable performance.'},
  { src: '/Gallery/sliderHotMix/9.png', title: 'Improved Company Image' ,texto:'Industrial aesthetics elevate the visual appeal of your operation.'},
  { src: '/Gallery/sliderHotMix/10.png', title: 'Customizable' ,texto:'Adaptable features to meet specific project requirements and operational goals.'}

  // agrega hasta 16 o más imágenes
];
---

<section class="w-full flex flex-col justify-center gap-10">
    <div class="w-full my-10">
        <div class="w-full px-8 md:px-52">
            <img src={img9.src} alt="" class="w-1/2">
        </div>
        <div class="w-full grid grid-cols-1 md:grid-cols-2 px-8 md:px-32 gap-10">
            <div>
                <h2 class="text-blueMain text-xl md:text-2xl font-bold">Different Applications</h2>
                <p class="text-grisT text-base md:text-lg font-bold">
                    Triaso oil heaters are designed and manufactured in-house for our own projects,
                     but they are also suitable for a wide range of applications.
                </p>
            </div>
            <div>
                <img src="" alt="">
            </div>
        </div>
    </div>
    <div class="w-full px-8 md:px-52 bg-bgBeige py-10">
        <h2 class="text-black text-2xl md:text-3xl font-bold">Gallery</h2>
        <MiniGallery slides={gallerySlides}
                autoSlide={false}
                heightClass="h-[150px] md:h-[500px]"
                showText={false}
                client:only/>
    </div>
    <ItemsSlider images={images1} client:only></ItemsSlider>
    
</section>