---
<<<<<<< HEAD
import ASProv1 from "../../assets/images/AsphaltStorage/MngrsTqe2.png";
import TwoColumnSection from '../unitComponents/TwoColumnSection.astro';
import Tred from "../../assets/images/AsphaltStorage/redT.png";
import img2 from '../../assets/images/AsphaltPlant/tanqueV.webp';
import ModalButton from '../unitComponents/ModalButton.astro';
import tanque360 from "../../assets/images/AsphaltStorage/Tqe60.png";
import oil1 from '../../assets/images/AsphaltPlant/agitators1.webp';
import AcordeonItemCol from "../unitComponents/AcordeonItemCol";
import OSection from "../unitComponents/OSection.astro";
---
<div class="w-full flex flex-col gap-10">
    <div class="max-w-7xl px-8 mx-auto">
        <img src={tanque360.src} alt="">
    </div>
    <div class="max-w-7xl px-8 mx-auto grid grid-cols-1 md:grid-cols-2 gap-10">
=======
import img4 from '../../assets/images/AsphaltPlant/tanks1.png';
import Image from 'astro/components/Image.astro';
import Card from '../unitComponents/Card.astro';
import TwoColumnSection from '../unitComponents/TwoColumnSection.astro';
import Tred from "../../assets/images/AsphaltStorage/redT.png";
import img2 from '../../assets/images/AsphaltPlant/tanqueV.png';
import ModalButton from '../unitComponents/ModalButton.astro';
import hotoil from '../../assets/images/AsphaltStorage/hotoil.jpg';
import oil1 from '../../assets/images/AsphaltPlant/agitators1.png';
---
<div class="w-full flex flex-col gap-10">
    <div class="w-full px-8 md:px-52">
        <img src="" alt="">
    </div>
    <div class="w-full px-8 md:px-52 grid grid-cols-1 md:grid-cols-2 gap-10">
        <div>

        </div>
        <div>

        </div>
    </div>
    <div class="w-full px-8 md:px-72 grid grid-cols-1 md:grid-cols-2 gap-10">
>>>>>>> adb791cd913f793db6b4099d114ff2cfb4734eff
                  <div class="w-full bg-white flex flex-col gap-6 p-8 rounded-xl shadow-lg min-h-[55vh]">
                    <div class="w-full flex justify-center">
                      <img src={oil1.src} alt="">
                    </div>
                    <div class="w-full flex justify-between items-center">
                      <h1 class="text-black text-xl md:text-2xl font-bold">AGITATTORS FOR ADDITIVES AND POLYMERS</h1>
                      <ModalButton>
                        <h3 slot="title" class="text-xl md:text-2xl font-bold">AGITATTORS FOR ADDITIVES AND POLYMERS</h3>
                        <img slot="image" src={oil1.src} alt="custom" />
                        <div slot="content">
                          <ul class="list-disc pl-5">
<<<<<<< HEAD
                            <li>5 Hp agitators for:</li>
                            <ul class="list-disc pl-5">
                              <li>Speeding up heating and homogenizing asphalt temperature.</li>
                              <li>Incorporating type 2 polymers: natural latex, SBR, neoprene, etc.</li>
                              <li>Incorporating additives such as:</li>
                              <ul class="list-disc pl-5">
                                <li>Rejuvenator for recycled asphalts.</li>
                                <li>Asphalt softener.</li>
                                <li>For warm mix applications.</li>
                                <li>Adhesion promoter.</li>
                                <li>Etc.</li>
                              </ul>
                              <li>Maintaining homogeneity in polymer-modified asphalts.</li>
                            </ul>
=======
                            <li> With heating capacities of 1,000,000 and 2,400,000 Btu/Hr.</li>
                            <li>Includes a high-efficiency 2” diameter coil system inside the asphalt tank.</li>
                            <li>Connections for asphalt tankers with coil heating systems.</li>
                            <li>Thermally insulated with ceramic fiber.</li>
                            <li>Stainless steel exterior sheet covering.</li>
                            <li>Equipped with a diesel burner.</li>
                            <li>Automatic on/off control based on temperature.</li>
                            <li>Two operating modes: Automatic and Manual.</li>
                            <li>Digital thermometers with programmable set point for burner activation and shutoff.</li>
                            <li>Siemens PLC-based control system.</li>
                            <li>100-liter (26.4-gallon) thermal oil expansion tank.</li>
                            <li>100% duty cycle.</li>
                            <li>Includes safety systems and automatic shutdown in case of errors.</li>
>>>>>>> adb791cd913f793db6b4099d114ff2cfb4734eff
                          </ul>
                        </div>
                      </ModalButton>
                    </div>
                    <div class="w-full">
                      <p class="font-thin text-sm md:text-base">
<<<<<<< HEAD
                        Designed to ensure a homogeneous blend of additives and polymers, 
                        uniform heat distribution, preventing hot spots. The agitator maintains consistent 
                        composition throughout the asphalt.
=======
                        Designed for a homogeneous mixture of additives and polymers, the agitator ensures uniform distribution of all components within the asphalt.
>>>>>>> adb791cd913f793db6b4099d114ff2cfb4734eff
                      </p>
                    </div>
                  </div>
                  <div class="w-full bg-white flex flex-col gap-6 p-8 rounded-xl shadow-lg min-h-[55vh]">
                    <div class="w-full flex justify-center">
<<<<<<< HEAD
                      <img src={ASProv1.src} alt="">
=======
                      <img src={hotoil.src} alt="">
>>>>>>> adb791cd913f793db6b4099d114ff2cfb4734eff
                    </div>
                    <div class="w-full flex justify-between items-center">
                      <h1 class="text-black text-xl md:text-2xl font-bold">ASPHALT PUMPS</sh1>
                      <ModalButton>
                        <h3 slot="title" class="text-xl md:text-2xl">ASPHALT PUMPS</h3>
<<<<<<< HEAD
                        <img slot="image" src={ASProv1.src} alt="custom" />
                        <div slot="content">
                          <p class="font-thin text-base">
                            Asphalt pumping from the tank works through a pump located inside the tank, where the asphalt
                             is stored, with its motor positioned at the top. Once heated, the asphalt is easily —where 
                             the hose is—since at high temperatures, asphalt behaves like water.  <br> 
                             To prevent blockages inside the pipe, the pump operates in both directions: forward and reverse.
                              When the tank finishes operating, the pump draws the asphalt from the outlet hose back into 
                              the tank.
                          </p>
=======
                        <img slot="image" src={hotoil.src} alt="custom" />
                        <div slot="content">
                          Asphalt pumping from the tank works through a pump located at the bottom of the tank, where the asphalt
                           is stored, with its motor positioned at the top. Once heated, the asphalt is easily moved to the top of
                            the tank—where the hose is—since at high temperatures, asphalt behaves like water. <br> To prevent blockages
                             inside the pipe, the pump operates in both directions: forward and reverse. When the tank finishes
                              operating, the pump sends the asphalt from the outlet hose back into the tank.
>>>>>>> adb791cd913f793db6b4099d114ff2cfb4734eff
                        </div>
                      </ModalButton>
                    </div>
                    <div class="w-full">
                      <p class="font-thin text-sm md:text-base">
<<<<<<< HEAD
                        Asphalt pumping from the tank works through a pump located inside the tank, where the asphalt is stored,
=======
                        Asphalt pumping from the tank works through a pump located at the bottom of the tank, where the asphalt is stored,
>>>>>>> adb791cd913f793db6b4099d114ff2cfb4734eff
                         with its motor positioned at the top.
                      </p>
                    </div>
                  </div>
<<<<<<< HEAD
    </div>
    <div class="w-full px-8 md:px-52">
        <h1 class="text-redBg text-2xl md:text-3xl font-bold text-center">Set the Standard in Asphalt Heating and Storage</h1>
    </div>
    <div class="max-w-7xl px-8 mx-auto grid grid-cols-1 md:grid-cols-2 gap-10 items-start">
        <div class="w-full">
            <img src={img2.src} alt="">
        </div>
        <AcordeonItemCol title="Triaso® Vertical Asphalt Storage Tanks" bg-Color="bg-bgMain" subText=" Their upright configuration minimizes the asphalt surface exposed to air, significantly reducing oxidation — a key factor when storing polymer-modified asphalts at high temperatures for extended periods." client:only>
          <div class="w-full py-6 font-bold text-grisT text-sm md:text-base">
            <p>
              Equipped with high-efficiency internal coils and industrial-grade insulation, these tanks retain heat effectively,
               reduce energy consumption, and maintain stable asphalt temperatures — even in extreme climates. 

            </p><br>
            <p>
             Each tank includes OSHA-compliant safety features such as a caged ladder, top manhole access, 
             anti-slip diamond-plate decking, full-perimeter handrails, and kickplates to ensure safe operation 
             and maintenance access.


            </p><br>
            <p>
              At ground level, all valves, gauges, and connections are easily accessible, allowing fast, safe 
              loading and unloading, as well as convenient temperature monitoring.

            </p><br>
            <p>
              Standard models include a digital temperature controller, and configurations can be customized with mixers,
               level indicators, vapor condensers, and other accessories to meet the requirements of each application.
            </p>
          </div>
        </AcordeonItemCol>
    </div>
    <OSection/>
=======
                </div>
    <div class="w-full px-8 md:px-52">
        <h1 class="text-redBg text-2xl md:text-3xl font-bold text-center">Set the Standard in Asphalt Production</h1>
    </div>
    <div class="w-full px-8 md:px-52 grid grid-cols-1 md:grid-cols-2 gap-10">
        <div class="w-full">
            <img src={img2.src} alt="">
        </div>
        <div>

        </div>
    </div>
>>>>>>> adb791cd913f793db6b4099d114ff2cfb4734eff
    <TwoColumnSection
                leftBg="bg-redBg"
                rightBg="bg-blueMain"
                imageSrc={Tred.src}
                imageAlt="Red T icon"
                imageWidth="150px"
                >
                    <div slot="left" class="flex flex-col justify-center gap-3">
                        <h1 class="text-xl md:text-2xl">Portable and Relocatable <br> Systems</h1>
<<<<<<< HEAD
                        <p class="text-sm md:text-base lg:text-lg">
=======
                        <p class="text-base md:text-lg">
>>>>>>> adb791cd913f793db6b4099d114ff2cfb4734eff
                            Engineered for easy transport and quick setup, our systems deliver reliable performance at any site—ideal
                             for temporary or changing project locations.
                        </p>
                    </div>
                    <div slot="right" class="flex flex-col justify-center gap-3">
                        <h1 class="text-xl md:text-2xl">
                            Durable Fabrication
                        </h1>
<<<<<<< HEAD
                        <p class="text-sm md:text-base lg:text-lg">
=======
                        <p class="text-base md:text-lg">
>>>>>>> adb791cd913f793db6b4099d114ff2cfb4734eff
                            Our asphalt storage tanks are engineered using wear-resistant materials designed to withstand abrasive 
                            and heavy-duty conditions. This robust construction ensures reliable performance, even in the harshest environments.
                             By minimizing wear and tear, the design significantly reduces maintenance needs and extends the system’s 
                             lifespan—delivering a dependable, long-term solution.
                        </p>
                    </div>
    </TwoColumnSection>
    
</div>
