---
import Image from "astro/components/Image.astro";
import Separator from "../unitComponents/Separator.astro";
import ItemsSlider from "../LandinPage/ItemsSlider";
import img1 from '../../assets/images/AsphaltStorage/versatil.png';
import GallerySlider from "../unitComponents/GallerySlider";
import ASOdometer from "./ASOdometer";
import Logo from "../../assets/logos/LogoTriasoMX.svg";
import fiberGlass from "../../assets/images/AsphaltPlant/Aislamiento.webp";
import ASCustom from "../AsphaltStorage/ASCustom.astro";
import ASMainVideo from "../../assets/images/AsphaltStorage/ASMainVideo.mp4";
import ASControl from "../../assets/images/AsphaltStorage/ASControl.png";
import ASHoses from "../../assets/images/AsphaltStorage/ASHoses.png";
import ASLevelSensor from "../../assets/images/AsphaltStorage/ASLevelSensor.png";

const iconos = [
  { src: '/Gallery/sliderHotMix/1.png', title: 'Preservation of Quality',texto:'Perservation of quality and integrity of the asphlt.' },
  { src: '/Gallery/sliderHotMix/2.png', title: 'Efficient Logistics' ,texto:'Streamlines delivery with automated weighing, ticket printing, and precise material flow control.'},
  { src: '/Gallery/sliderHotMix/3.png', title: 'Versatile Storage Options' ,texto:'Long-duration thermal retention, ensuring it remains liquid and high-quality for extended periods.'},
  { src: '/Gallery/sliderHotMix/4.png', title: 'Mobility' ,texto:'Triaso asphalt tanks allow quick setup without heavy machinery, ideal for relocatable operations.'},
  { src: '/Gallery/sliderHotMix/5.png', title: 'Durability' ,texto:'Built with reinforced materials, thermally insulated cylinders, and corrosion-resistant finishes.'},
  { src: '/Gallery/sliderHotMix/6.png', title: 'Seamless Integration',texto:'Compatible with asphalt plant systems through protocols like Ethernet Industrial, Modbus, and CANopen.' },
  { src: '/Gallery/sliderHotMix/7.png', title: 'Enhanced Safety' ,texto:'Equipped with guards, alarms, and visual indicators to protect personnel and equipment.'},
  { src: '/Gallery/sliderHotMix/8.png', title: 'Cost-Effective' ,texto:'Reduces downtime, transportation costs, and maintenance with efficient design and reliable performance.'},
    { src: '/Gallery/sliderHotMix/9.png', title: 'Improved Company Image' ,texto:'Industrial aesthetics elevate the visual appeal of your operation.'},
    { src: '/Gallery/sliderHotMix/10.png', title: 'Customizable' ,texto:'Adaptable features to meet specific project requirements and operational goals.'},
  // agrega hasta 16 o más imágenes
];
---
<section class="w-full flex flex-col items-center justify-center mt-20 md:mt-40 font-bold">
    <div class="w-full px-8 md:px-32">
        <h1 class="text-2xl md:text-3xl">Triaso® Asphalt <br> Storage Tanks</h1>
        <Separator />
    </div>
    <p class="font-bold text-grisT px-8 md:px-32 text-start">
       Triaso® asphalt tanks are engineered to store and maintain asphalt under 
       optimal conditions, ensuring consistent quality and performance. Built 
       with heavy-duty materials and high-efficiency insulation, they keep asphalt 
       ready for use in any application. Ideal for polymer-modified asphalt production, 
       these tanks provide the durability and functionality required  for both small
        projects and large-scale operations.
    </p>
    <div class="max-w-7xl px-8 mx-auto">
      <video src={ASMainVideo}  autoplay></video>
      <h1 class="text-center text-2xl md:text-3xl text-blueMain">Consistent Heat, Consistent Mix</h1>
    </div>
    <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-10 md:gap-[10%] items-center justify-center mt-10">
        <div class="text-grisT flex flex-col h-full gap-3 md:gap-10 text-justify bg-white border-2 border-black rounded-r-2xl px-8 md:pl-32 py-10">
          <h2 class="text-lg md:text-xl text-start w-full text-black">Versatile and Efficient Asphalt Storage Solutions</h2>
            <p>The tanks are engineered for versatility and reliability in asphalt storage applications, from road
               construction to roofing and other large-scale uses.</p>
            
            <p>
               Equipped with efficient heating systems and precise temperature control,
                they maintain the required asphalt consistency for both standard and
                 modified binders.
            </p>
                   <p>
                Their durable construction and easy operation make them suitable for continuous production 
                and long-term service in demanding environments.
            </p>
        </div>
        <div class="">
            <img src={img1.src} alt="" class="max-h-[450px]">
        </div>
    </div>
    <div class="w-full px-8 md:px-52 py-10">
      <h1 class="text-redBg text-2xl md:text-3xl text-center">
        With Triaso, become the principal supplier of hot-mix for <br>
        all the paving projects in your region
      </h1>
    </div>
    <ASOdometer client:only></ASOdometer>
    <ItemsSlider client:only images={iconos}/>
    <div class="w-full bg-[#2b2b2b] text-white flex flex-col justify-center pt-10 h-full">
                    <div class="w-full relative h-[100px] md:h-[250px]">
                        <img src={Logo.src} alt="" class="absolute top-0 left-0 z-10 w-full">
                    </div>
                    <div class="w-full px-8 md:px-52 grid grid-cols-1 md:grid-cols-2 gap-10">
                      <div class="w-full flex justify-center">
                        <img src={ASControl.src} alt="" class="w-full lg:w-3/4 rounded-2xl">
                      </div>
                      <div class="w-full flex flex-col gap-6 my-10">
                        <h2 class="text-xl md:text-2xl">Control System</h2>
                        <h3 class="text-lg md:text-xl">Computerized system to prevent asphalt theft during tanker reception and operation.</h3>
                        <p class="text-base md:text-lg font-thin">
                          With automated asphalt controls to monitor asphalt consumption per ton of produced mix, preventing waste and theft.
                        </p>
                        <p class="text-base md:text-lg font-thin">
                          The system automatically stores data on delivered asphalt, detailing its real-time level, temperature, trends, and projections.
                        </p>
                      </div>
                    </div>
                    <div class="w-full bg-bgBeige -skew-y-2">
                        <div class="w-full grid grid-cols-1 md:grid-cols-2 py-20 px-8 md:px-52 skew-y-2 items-center">
                            <div class="w-full text-black ">
                                <h1 class="font-bold text-black text-xl md:text-2xl text-center">Triaso Asphalt Level Sensor</h1><br>
                                <p class="text-base md:text-lg font-thin">
                                    Asphalt level sensor with guided wave radar technology, designed for continuous and accurate monitoring in real-time. <br>
                                    Asphalt volume in the tank (accuracy with a margin of error of 11.3 liters in 60,000 liters).
                                </p>
                                <ul class="list-disc ml-6 text-base md:text-lg font-thin">
                                  <li>Consumption and refill history of asphalt.</li>
                                </ul>
                            </div>
                            <div class="w-full text-center text-black flex justify-center">
                                <img src={ASLevelSensor.src} alt="" class="w-full lg:w-3/4 rounded-xl">
                            </div>
                        </div>
                    </div>
                    
                    <div class="w-full px-8 md:px-52 py-20 flex flex-col gap-10 bg-gradient-to-t from-[#727272] to-[#393939]">
                        <h2 class="text-center text-2xl md:text-3xl">Simplifying Operations with Triaso Intelligent Features</h2>
                        <p class="text-base md:text-lg font-thin">Beyond storage, our tanks are equipped with user-friendly features
                           like automated monitoring systems, real-time data tracking, and efficient unloading mechanisms. These technologies 
                           help streamline operations, reduce maintenance, and enhance productivity across the board. With real-time access to
                            trends, logs, and operational metrics, decision-making becomes faster, more informed, and fully independent of your 
                            physical location.</p>
                    </div>  
    </div>
    <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-10 my-10">
      <div class="w-full flex flex-col gap-6 pl-8 md:pl-52">
        <h2 class="text-xl md:text-2xl">Asphalt Hoses</h2>
        <p class="text-base md:text-lg text-grisT">
          When the asphalt pump is turned on, the material is transferred through a vertical pipe and into a 
          stainless-steel hose connected to the plant. From there, gravity assists the flow into the asphalt inlet,
           ensuring smooth and continuous delivery.
        </p>
        <div class="w-full flex justify-center">
          <img src={ASHoses.src} alt="" class="w-3/4 rounded-xl">
        </div>
      </div>
      <div class="w-full flex gap-6 pr-8 md:pr-52 bg-white rounded-l-2xl border-black border-2 py-8">
        <div class="w-full pl-8 h-full">
          <img src={fiberGlass.src} alt="" class="w-[150px] h-auto">
        </div>
        <div class="w-full">
          <h2 class="text-lg md:text-xl">Three inches fiberglass insulation</h2><br>
          <p class="text-base md:text-lg font-thin">
            Our asphalt storage tanks feature three-inch fiberglass insulation, designed for 
            superior performance in minimizing heat loss and maintaining consistent temperatures. This durable,
             energy-efficient insulation ensures your asphalt remains at the optimal temperature, ready for use. 
             Additionally, the exterior is reinforced with a stainless steel sheet lining, providing enhanced 
             durability and protection against harsh external conditions.
          </p>
        </div>
      </div>
    </div>
    <ASCustom></ASCustom>
</section>