---
import GallerySlider from "../unitComponents/GallerySlider";
import Image from "astro/components/Image.astro";
import Tred from "../../assets/images/AsphaltStorage/redT.webp";
import Separator from "../unitComponents/Separator.astro";
import sideP from "../../assets/images/DrumMixers/sideP.webp";
import LearnBtn from "../unitComponents/LearnBtn.astro";
import TwoColumnSection from "../unitComponents/TwoColumnSection.astro";
import BUFeeders from "../../assets/images/BinUnits/BUFeeders.webp";
import binHigh from "../../assets/images/BinUnits/binHigh.webp";
import img1 from "../../assets/images/BinUnits/TolvaCinta.webp";
import img2 from "../../assets/images/BinUnits/ProvBU1.webp";
import img3 from "../../assets/images/BinUnits/ProvBU3.webp";
import img4 from "../../assets/images/BinUnits/1.webp";
import img5 from "../../assets/images/BinUnits/2.webp";
import img6 from "../../assets/images/BinUnits/3.webp";
import { imageConfig } from "astro:assets";
import Whatsbtn from "../unitComponents/Whatsbtn.astro";
const binSlides2 = [
  {
    image: "src/assets/images/BinUnits/GallerySlider/Big/TmbC60P288TrabA.webp",
    caption:
      "Tambor mezclador de 80 Tmph, de contraflujo, en posición de trabajo",
  },
  {
    image: "src/assets/images/BinUnits/GallerySlider/Big/TmbC60P288TrabB.webp",
    caption:
      "Tambor mezclador de 80 Tmph, de contraflujo, en posición de trabajo",
  },
  {
    image:
      "src/assets/images/BinUnits/GallerySlider/Big/TmbC60P288TranspA.webp",
    caption:
      "Tambor mezclador de 80 Tmph, de contraflujo, en posición de transporte",
  },
  {
    image:
      "src/assets/images/BinUnits/GallerySlider/Big/TmbC60P288TranspB.webp",
    caption:
      "Tambor mezclador de 80 Tmph, de contraflujo, en posición de transporte",
  },
  {
    image: "src/assets/images/BinUnits/GallerySlider/Big/TmbC110P286Trab.webp",
    caption:
      "Tambor mezclador de 140 Tmph, de contraflujo, en posición de trabajo",
  },
  {
    image: "src/assets/images/BinUnits/GallerySlider/Big/TmbC110P286TrabB.webp",
    caption:
      "Tambor mezclador de 140 Tmph, de contraflujo, en posición de trabajo",
  },
  {
    image:
      "src/assets/images/BinUnits/GallerySlider/Big/TmbC110P286TranspA.webp",
    caption:
      "Tambor mezclador de 140 Tmph, de contraflujo, en posición de transporte",
  },
  {
    image:
      "src/assets/images/BinUnits/GallerySlider/Big/TmbCE110P268TrabA.webp",
    caption:
      "Tambor mezclador de 140 Tmph, de contraflujo, con pugmill, en posición de trabajo",
  },
  {
    image:
      "src/assets/images/BinUnits/GallerySlider/Big/TmbCE110P268TrabB.webp",
    caption:
      "Tambor mezclador de 140 Tmph, de contraflujo, con pugmill, en posición de trabajo",
  },
  {
    image:
      "src/assets/images/BinUnits/GallerySlider/Big/TmbCE110P268TrabRapA.webp",
    caption:
      "Tambor mezclador de 140 Tmph, de contraflujo, con pugmill, en posición de trabajo con Rap",
  },
  {
    image:
      "src/assets/images/BinUnits/GallerySlider/Big/TmbCE110P268TranspA.webp",
    caption:
      "Tambor mezclador de 140 Tmph, de contraflujo, con pugmill, en posición de transporte",
  },
  {
    image: "src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TrabA.webp",
    caption:
      "Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo",
  },
  {
    image: "src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TrabB.webp",
    caption:
      "Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo",
  },
  {
    image: "src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TrabC.webp",
    caption:
      "Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo",
  },
  {
    image: "src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TrabD.webp",
    caption:
      "Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo",
  },
  {
    image:
      "src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TranspA.webp",
    caption:
      "Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo",
  },
  {
    image:
      "src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TranspB.webp",
    caption:
      "Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo",
  },
  {
    image:
      "src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TranspC.webp",
    caption:
      "Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo",
  },
  {
    image:
      "src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TranspD.webp",
    caption:
      "Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo",
  },
  {
    image: "src/assets/images/BinUnits/GallerySlider/Big/consola.webp",
    caption:
      "Consola de control, con computadora plus para planta de asfalto de contraflujo",
  },
  {
    image: "src/assets/images/BinUnits/GallerySlider/Big/tanqueplusA.webp",
    caption: "Tanque de asfalto de 60,000 lts, plus",
  },
  {
    image: "src/assets/images/BinUnits/GallerySlider/Big/tanqueplusB.webp",
    caption: "Tanque de asfalto de 60,000 lts, plus",
  },
  {
    image: "src/assets/images/BinUnits/GallerySlider/Big/tanqueplusC.webp",
    caption: "Tanque de asfalto de 60,000 lts, plus",
  },
  {
    image: "src/assets/images/BinUnits/GallerySlider/Big/tanqueplusD.webp",
    caption: "Tanque de asfalto de 60,000 lts, plus",
  },
  {
    image: "src/assets/images/BinUnits/GallerySlider/Big/TlvP317P268A.webp",
    caption: "Unidad de tolvas triple plus",
  },
  {
    image: "src/assets/images/BinUnits/GallerySlider/Big/TlvP317P268B.webp",
    caption: "Unidad de tolvas triple plus",
  },
  {
    image: "src/assets/images/BinUnits/GallerySlider/Big/TlvP317P268C.webp",
    caption: "Unidad de tolvas triple plus",
  },
  {
    image: "src/assets/images/BinUnits/GallerySlider/Big/TlvP317P268D.webp",
    caption: "Unidad de tolvas triple plus",
  },
];
---

<div class="w-full flex flex-col gap-10">
  <TwoColumnSection
    leftBg="bg-redBg"
    rightBg="bg-blueMain"
    imageSrc={Tred.src}
    imageAlt="Red T icon"
    imageWidth="150px"
  >
    <div slot="left" class="flex flex-col justify-center gap-3">
      <h1 class="text-xl md:text-2xl">Options to Meet Any Need</h1>
      <p class="text-sm lg:text-lg md:text-lg">
        Our bin units offer a wide range of features including as flow detectors
        for precise monitoring, and vibrators to ensure smooth material flow.
        Customizable with bin dividers, level indicators to prevent high- and
        low-level conditions, extensions, and grizzlies, they adapt to diverse
        material handling requirements, delivering efficiency and reliability in
        any project.
      </p>
    </div>
    <div slot="right" class="flex flex-col justify-center gap-3">
      <h1 class="text-xl md:text-2xl">24/7 Customer Service</h1>
      <p class="text-sm lg:text-lg md:text-lg">
        Our team is available around the clock, ready to assist you at any time,
        even on weekends and holidays.
      </p>
      <div
        class="flex justify-center items-center lg:justify-start lg:items-start md:justify-start md:items-start"
      >
        <Whatsbtn/>
      </div>
    </div>
  </TwoColumnSection>
  <div
    class="w-full grid grid-cols-1 md:grid-cols-2 overflow-visible max-w-7xl px-8 mx-auto items-end"
  >
    <div class="w-full pr-20">
      <Image src={img1} alt="" class="rounded-lg" />
    </div>
    <div class="w-full flex flex-col gap-10">
      <div>
        <Image src={BUFeeders} alt="" class="rounded-2xl" />
      </div>
      <div class="w-full flex flex-col justify-center">
        <h1 class="text-lg md:text-xl font-bold">
          Belt Feeders with Rubberized Pulleys
        </h1>
        <br />
        <p class="text-base md:text-lg font-extralight text-grisT text-justify">
          Our belt feeders are equipped with rubberized head and tail pulleys,
          ensuring superior grip and minimizing slippage during operation. This
          design enhances durability, reduces wear on the belt, and provides
          reliable performance, even under heavy loads or challenging
          conditions.
        </p>
      </div>
    </div>
  </div>
  <div class="w-full max-w-7xl px-8 mx-auto text-2xl md:text-4xl font-bold">
    <div class="w-full flex justify-between">
      <div>
        <h1 class="text-grisT">AESTHETIC SIDE PANELS</h1>
        <Separator />
      </div>
      <div class="text-end">
        <h2 class="text-redBg">
          ENHANCE YOUR COMPANY IMAGE <br /> WITH TRIASO DESIGN
        </h2>
      </div>
    </div>
    <div class="my-10 flex flex-col justify-center items-center gap-6">
      <Image src={sideP} alt="" />
      <div class="max-w-[250px]">
        <LearnBtn href="/AestheticSide"/>
      </div>
    </div>

    <div class="flex flex-col">
      <div class="flex justify-between">
        <Image src={img4} alt="" class="w-1/3" />
        <Image src={img5} alt="" class="w-1/3" />
        <Image src={img6} alt="" class="w-1/3" />
      </div>
      <div class="pt-4">
        <h1 class="text-[#393939]">Triaso®</h1>
        <h1 class="uppercase text-[#393939]">conveyor rollers</h1>
        <p class="font-medium text-base md:text-xl font-[#393939] w-full md:w-4/6">
          Our conveyor rollers for bin unit dosing belts and aggregate conveyors
          are manufactured in-house from cast iron, reducing dependence on
          third-party suppliers for replacement parts.
        </p>
      </div>
    </div>
  </div>

  <div class="bg-[url(/fondoAsp.webp)] w-full">
    <div
      class="w-full max-w-7xl px-8 lg:px-0 md:px-0 mx-auto py-10 grid grid-cols-1 gap-10"
    >
      <!-- 1 -->
      <div class="flex flex-col w-full md:flex-row lg:flex-row">
        <div class="text-white font-bold flex flex-col justify-center">
          <h1 class="text-2xl md:text-3xl">Highly portable equipment</h1><br />
          <p class="text-base md:text-lg lg:pr-8 md:pr-8">
            We understand the importance of getting your equipment up and
            running as quickly as possible. Our Triaso equipment is designed for
            fast installation and startup.
          </p>
        </div>
        <div class="w-full flex justify-center py-5">
          <Image src={binHigh} alt="" class="w-full rounded-2xl" />
        </div>
      </div>

      <!-- 2 -->
      <div class="flex flex-col-reverse w-full lg:flex-row md:flex-row">
        <div class="w-full flex py-5 items-start justify-start">
          <Image
            src={img2}
            alt=""
            class="lg:w-[80%] md:w-[80%] rounded-2xl"
          />
        </div>
        <div class="text-white font-bold flex flex-col justify-center">
          <h1 class="text-2xl md:text-3xl lg:text-end">Any time anywhere</h1><br
          />
          <p class="text-base md:text-lg lg:text-end">
            We understand the importance of keeping your equipment running
            non-stop.
          </p>
        </div>
      </div>

      <!-- 3 -->
      <div class="flex flex-col w-full md:flex-row lg:flex-row">
        <div class="text-white font-bold flex flex-col justify-center">
          <h1 class="text-2xl md:text-3xl">Easy Storage</h1><br />
          <p class="text-base md:text-lg lg:pr-8 md:pr-8">
            Designed for easy storage, our equipment can be quickly and
            conveniently stored anywhere.
          </p>
        </div>
        <div class="w-full flex justify-end py-5">
          <Image
            src={img3}
            alt=""
            class="lg:w-[80%] md:w-[80%] rounded-2xl"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="w-full px-4">
    <GallerySlider client:only slides={binSlides2} visibleThumbs={6} />
  </div>
</div>
