---
import GallerySlider from "../unitComponents/GallerySlider";
const binSlides2 = [
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbC60P288TrabA.png',
    caption: 'Tambor mezclador de 80 Tmph, de contraflujo, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbC60P288TrabB.png',
    caption: 'Tambor mezclador de 80 Tmph, de contraflujo, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbC60P288TranspA.png',
    caption: 'Tambor mezclador de 80 Tmph, de contraflujo, en posición de transporte',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbC60P288TranspB.png',
    caption: 'Tambor mezclador de 80 Tmph, de contraflujo, en posición de transporte',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbC110P286Trab.png',
    caption: 'Tambor mezclador de 140 Tmph, de contraflujo, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbC110P286TrabB.png',
    caption: 'Tambor mezclador de 140 Tmph, de contraflujo, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbC110P286TranspA.png',
    caption: 'Tambor mezclador de 140 Tmph, de contraflujo, en posición de transporte',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbCE110P268TrabA.png',
    caption: 'Tambor mezclador de 140 Tmph, de contraflujo, con pugmill, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbCE110P268TrabB.png',
    caption: 'Tambor mezclador de 140 Tmph, de contraflujo, con pugmill, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbCE110P268TrabRapA.png',
    caption: 'Tambor mezclador de 140 Tmph, de contraflujo, con pugmill, en posición de trabajo con Rap',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TmbCE110P268TranspA.png',
    caption: 'Tambor mezclador de 140 Tmph, de contraflujo, con pugmill, en posición de transporte',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TrabA.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TrabB.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TrabC.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TrabD.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TranspA.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TranspB.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TranspC.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TqePCU60N70TranspD.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus, con caldera, con normas para Estados Unidos, en posición de trabajo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/consola.png',
    caption: 'Consola de control, con computadora plus para planta de asfalto de contraflujo',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/tanqueplusA.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/tanqueplusB.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/tanqueplusC.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/tanqueplusD.png',
    caption: 'Tanque de asfalto de 60,000 lts, plus',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TlvP317P268A.png',
    caption: 'Unidad de tolvas triple plus',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TlvP317P268B.png',
    caption: 'Unidad de tolvas triple plus',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TlvP317P268C.png',
    caption: 'Unidad de tolvas triple plus',
  },
  {
    image: 'src/assets/images/BinUnits/GallerySlider/Big/TlvP317P268D.png',
    caption: 'Unidad de tolvas triple plus',
  }

];
import Tred from '../../assets/images/AsphaltStorage/redT.png';
import Separator from "../unitComponents/Separator.astro";
import sideP from '../../assets/images/DrumMixers/sideP.png';
import LearnBtn from "../unitComponents/LearnBtn.astro";
import TwoColumnSection from "../unitComponents/TwoColumnSection.astro";
import BUFeeders from "../../assets/images/BinUnits/BUFeeders.jpg";
import binHigh from "../../assets/images/BinUnits/binHigh.jpg";
import img1 from "../../assets/images/BinUnits/ProvBU5.jpg";
---
<div class='w-full flex flex-col justify-center items-center gap-10'>
  <TwoColumnSection
    leftBg="bg-redBg"
  rightBg="bg-blueMain"
  imageSrc={Tred.src}
  imageAlt="Red T icon"
  imageWidth="150px"
    >
        <div slot="left" class="flex flex-col justify-center gap-3">
            <h1 class="text-xl md:text-2xl">Options to Meet Any Need</h1>
            <p class="text-base md:text-lg">
                Manufacturing highly protable self-contained, and integrated models, Triaso® baghouses
                operates at an air to cloth ratio as high as 8:1.
            </p>
        </div>
        <div slot="right" class="flex flex-col justify-center gap-3">
            <h1 class="text-xl md:text-2xl">
                Different Types of Filter Bags and Their Specific Applications:
            </h1>
            <ul class="text-base md:text-lg">
                <li>Polyester</li>
                <li>Nomex</li>
                <li>Polyamide (P84)</li>
            </ul>
        </div>
  </TwoColumnSection>
    <div class="w-full grid grid-cols-1 md:grid-cols-2 overflow-visible px-8 md:px-52 items-end">
      <div class="w-full pr-20">
          <img src={img1.src} alt="" class="rounded-lg">
      </div>
      <div class="w-full flex flex-col gap-10">
          <div>
              <img src={BUFeeders.src} alt="" class="rounded-2xl">
          </div>
          <div class="w-full flex flex-col justify-center">
              <h1 class="text-lg md:text-xl font-bold">Belt Feeders with Rubberized Pulleys </h1>
              <br>
              <p class="text-base md:text-lg font-extralight text-grisT text-justify" >Our belt feeders are equipped with rubberized head and tail pulleys, ensuring superior grip and minimizing slippage during operation. This design enhances durability, reduces wear on the belt, and provides reliable performance, even under heavy loads or challenging conditions.
              </p>
          </div>
      </div>
  </div>
  <div class="w-full px-8 md:px-52 text-2xl md:text-4xl font-bold">
    <div class="w-full flex justify-between">
      <div>
        <h1 class="text-grisT">AESTHETIC SIDE PANELS</h1>
        <Separator/>
      </div>
      <div class="text-end">
        <h2 class="text-redBg">
          ENHANCE YOUR COMPANY IMAGE <br> WITH TRIASO DESIGN
        </h2>
      </div>
    </div>
    <div class="my-10 flex flex-col justify-center items-center gap-6">
      <img src={sideP.src} alt="">
      <div class="max-w-[250px]">
        <LearnBtn/>
      </div>
    </div>
  </div>
  <div class="w-full bg-[url(/fondoAsp.png)] px-8 md:px-52 py-10 grid grid-cols-1 md:grid-cols-2 gap-10">
    <div class="text-white font-bold flex flex-col justify-center">
      <h1 class="text-2xl md:text-3xl">Highly portable equipment </h1><br>
      <p class="text-base md:text-lg">
        We understand the importance of getting your equipment up and running as quickly as possible.
         Our Triaso equipment is designed for fast installation and startup.
      </p>
    </div>
    <div class="w-full">
      <img src={binHigh.src} alt="" class="w-4/5 rounded-2xl">
    </div>
  </div>
    <div class="w-full">
        <GallerySlider slides={binSlides2} visibleThumbs={6}/>
    </div>
</div>


