---
import binUnit1 from "../../assets/images/BinUnits/binUnit1.png";
import Image from "astro/components/Image.astro";
import bin from "../../assets/images/BinUnits/GallerySlider/Big/TlvP317P268B.png";
import AcordeonItem from "../unitComponents/AcordeonItem";
import img1 from "../../assets/images/BinUnits/ProvBU2.jpg";
import img2 from "../../assets/images/BinUnits/ProvBU3.jpeg";
import img3 from "../../assets/images/BinUnits/ProvBU4.jpg";
import img5 from "../../assets/images/BinUnits/Consola.png"
import img6 from "../../assets/images/BinUnits/ColdMix.png"
---

<div class="w-full flex flex-col items-center justify-center mt-10">
    <div
        class="w-full grid grid-cols-1 md:grid-cols-2 overflow-visible max-w-7xl px-8 mx-auto items-center"
    >
        <div class="w-full flex flex-col gap-10">
            <div>
                <img src={img1.src} alt="" class="rounded-lg" />
            </div>
            <div class="w-full flex flex-col justify-center">
                <h1 class="text-lg md:text-xl font-bold">
                    Precision Dosing Systems in Bin Units
                </h1>
                <br />
                <p
                    class="text-base md:text-lg font-extralight text-grisT text-justify"
                >
                    Our bin units are equipped with advanced dosing systems
                    designed for optimal precision and reliability. These
                    systems ensure accurate material flow and distribution,
                    meeting the demands of even the most stringent project
                    requirements.
                </p>
            </div>
            <div>
                <img src={img3.src} alt="" class="rounded-lg" />
            </div>
        </div>
        <div class="pl-20">
            <img src={img2.src} alt="" class="rounded-lg" />
        </div>
    </div>
    <div class="w-full max-w-7xl px-8 mx-auto font-bold my-10">
        <h1 class="text-blueMain text-3xl md:text-4xl text-center">
            The Triaso team understands that proper material handling and
            storage are key to optimal performance and durability
        </h1>
    </div>
    <div
        class="w-full max-w-7xl px-8 mx-auto grid grid-cols-1 md:grid-cols-5 md:gap-10 items-start justify-center mb-5"
    >
        <div class="col-span-2 flex justify-start md:justify-center">
            <Image src={binUnit1} alt="" class="w-3/4 md:w-full" />
        </div>
        <div class="col-span-3 flex flex-col items-start h-full justify-center">
            <h1 class="text-2xl md:text-5xl font-bold">
                Precision Dosing <br />Systems in <br />Bin Units
            </h1><br />
            <p class="text-lg md:text-xl font-thin text-grisT text-justify">
                Our bin units are equipped with advanced dosing systems designed
                for optimal precision and reliability. These systems ensure
                accurate material flow and distribution, meeting the demands of
                even the most stringent project requirements.
            </p><br />
            <div class="w-full flex flex-col gap-3 md:gap-6 pr-10">
                <AcordeonItem
                    client:only
                    title="High-Precision Sensors"
                    content="Integrated sensors monitor material levels in real time, allowing for precise control of dosing quantities and preventing overflows or shortages."
                />
                <AcordeonItem
                    client:only
                    title="Adjustable Flow Rates"
                    content="The system allows operators to modify the flow rate, accommodating a wide range of materials, from fine aggregates to larger-sized rocks or sand."
                />
                <AcordeonItem
                    client:only
                    title="Consistent Material Distribution"
                    content="Ensures uniform dosing to maintain a balanced mixture in downstream operations, such as mixing or crushing processes."
                />
                <AcordeonItem
                    client:only
                    title="Automated Controls"
                    content="Equipped with programmable logic controllers (PLCs), the system can be automated for consistent and repeatable performance across different projects."
                />
                <AcordeonItem
                    client:only
                    title="Anti-Clogging Mechanism"
                    content="Specially designed chutes and gates minimize the risk of blockages, ensuring a smooth and uninterrupted material flow."
                />
                <AcordeonItem
                    client:only
                    title="Energy-Efficient Operation"
                    content="Engineered to optimize power usage, reducing operational costs while maintaining high performance."
                />
            </div>
        </div>
    </div>
    <div class="w-full bg-grisSubP">
        <div class="w-full -skew-y-1 overflow-hidden bg-bgBeige">
            <div
                class="w-full max-w-7xl px-8 mx-auto grid grid-cols-1 md:grid-cols-2 py-10 text-black skew-y-1"
            >
                <div class="p-4 font-bold rounded-2xl">
                    <h1 class="text-lg md:text-xl">Durable Construction</h1><br
                    />
                    <p class="text-grisT text-base md:text-lg font-thin">
                        Our bin units are engineered with wear-resistant
                        materials that perform exceptionally under abrasive and
                        heavy loads. Their robust construction provides
                        long-term reliability, the system remains reliable even
                        under the harshest working conditions.
                    </p>
                </div>
                <div class="p-4 font-bold rounded-2xl">
                    <h1 class="text-lg md:text-xl">Customizable Settings</h1><br
                    />
                    <p class="text-grisT text-base md:text-lg font-thin">
                        The dosing system provides the flexibility to meet the
                        specific demands of each project. With options for both
                        manual and automatic adjustment, it allows precise
                        control of material flow.
                    </p>
                </div>
            </div>
        </div>
        <div class="my-10 w-full flex justify-center">
            <img src={bin.src} alt="" class="max-h-[400px]" />
        </div>
    </div>
    <!-- AAAAAAAA -->
    <div class="flex w-full max-w-7xl my-5">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 mx-auto">
            <div>
                <img src={img5.src} alt="Console" class="rounded-md" />
            </div>
            <div class="flex justify-center items-center">
                <div class="flex flex-col gap-6">
                    <h1 class="font-bold text-lg">Integrated Control Over Aggregate Flow</h1>
                    <p class="text-[#393939] text-justify w-4/5">
                        Real-time monitoring gives operators full control over
                        material flow and production data through the central
                        control system, allowing quick adjustments and
                        consistent hot-mix results.
                    </p>
                </div>
            </div>
            <div class="flex justify-center items-center">
                <div class="flex flex-col gap-6">
                    <h1 class="font-bold text-lg">Precision Dosing for Reliable Results</h1>
                    <p class="text-[#393939] text-justify w-4/5">
                        Ajustable gates, bin units provide precise control of
                        aggregate dosing. This accuracy ensures for consistent
                        mix quality and repeatable results, even when working
                        with different material types or gradations.
                    </p>
                    <p class="text-[#393939] text-justify w-4/5">
                        Real-time monitoring provides complete control over
                        aggregates, allowing continuous access to production
                        data and equipment performance.
                    </p>
                </div>
            </div>
            <div>
                <img src={img6.src} alt="Triaso Relief" class="rounded-md" />
            </div>
        </div>
    </div>
</div>
<script is:inline>
    function toggleDropdown() {
        const dropdown = document.getElementById("extradiv2");
        const arrow = document.getElementById("dropdown-arrow2");

        if (dropdown.style.maxHeight === "0px" || !dropdown.style.maxHeight) {
            // Abrir dropdown
            dropdown.style.maxHeight = dropdown.scrollHeight + "px";
            arrow.style.transform = "rotate(180deg)";
        } else {
            // Cerrar dropdown
            dropdown.style.maxHeight = "0";
            arrow.style.transform = "rotate(0deg)";
        }
    }
</script>
