---
import img1 from "../../assets/images/Burners/8.webp"
import img2 from "../../assets/images/Burners/7.webp";
import img4 from "../../assets/images/Burners/9.webp";
import img5 from "../../assets/images/Burners/11.webp";
import img6 from '../../assets/images/Burners/12.webp'
import Image from "astro/components/Image.astro";
---

<section class="w-full max-w-7xl mx-auto px-8 font-bold text-grisT mt-20">
    <div class="text-center w-full space-y-2">
        <h1 class="text-2xl md:text-3xl text-black">
            What Are the Differences Between ‘Partial Air’ and ‘Total Air’
            Burners?
        </h1>
        <p class="text-base md:text-lg">
            Key advantages that make ‘Total Air Burners’ more efficient and
            environmentally friendly than ‘Partial Air Burners’
        </p>
    </div>
    <div
        class="w-full grid grid-cols-1 md:grid-cols-2 justify-center items-start mt-20 gap-20"
    >
        <div class="w-full flex flex-col gap-6">
            <div class="text-center w-full flex flex-col items-center">
                <h2 class="text-xl md:text-2xl">Partial Air Burners</h2><br />
                <div class="h-[2px] w-3/4 bg-blueMain"></div>
            </div>

            <div class="flex flex-col gap-6 text-base md:text-lg">
                <p>
                    These burners provide only 30% to 45% of the necessary
                    combustion air (called primary air) through the blower.
                </p>
                <p>
                    The remaining air (secondary air) is drawn in by the
                    chimney's suction system, entering freely through openings
                    in the drum's front shield.
                </p>
                <p>
                    Because this secondary air is not preheated or regulated, a
                    larger volume must be heated, leading to higher fuel
                    consumption.
                </p>
                <img src={img2.src} alt="" />
                <div
                    class="w-full max-w-sm mx-auto bg-white rounded-xl shadow-sm p-6"
                >
                    <div class="flex items-center justify-between mb-4">
                        <h2 class="text-red-600 font-semibold text-lg">
                            Partial air burner
                        </h2>
                        <span class="text-red-600 text-xl font-bold">›</span>
                    </div>
                    <div class="flex flex-col gap-4">
                        <div class="flex items-center gap-3">
                            <span class="w-4 h-4 rounded-full bg-[#001746]"
                            ></span>
                            <p class="text-gray-700">Primary air</p>
                        </div>
                        <div class="flex items-center gap-3">
                            <span class="w-4 h-4 rounded-full bg-[#55F0FF]"
                            ></span>
                            <p class="text-gray-700">Secondary air</p>
                        </div>
                        <div class="flex items-center gap-3">
                            <span class="w-4 h-4 rounded-full bg-[#B30000]"
                            ></span>
                            <p class="text-gray-700">Fuel</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full flex flex-col gap-6">
            <div class="text-center w-full flex flex-col items-center">
                <h2 class="text-xl md:text-2xl">Total Air Burners</h2><br />
                <div class="h-[2px] w-3/4 bg-redBg"></div>
            </div>

            <div class="flex flex-col gap-6 text-base md:text-lg">
                <p>
                    These burners supply 100% of the air required for combustion
                    through their own blower, in a controlled manner.
                </p>
                <p>
                    As a result, no additional air entries are needed in the
                    drum, and the air volume is precisely calculated for
                    combustion needs.
                </p>
                <p>
                    Since all the air entering the drum is regulated by the
                    burner, it ensures an efficient carburetion process that
                    makes use of 100% of the fuel.
                </p>
                <p>
                    Total air burners are typically only offered by top-tier
                    brands due to their advanced technology and high cost.
                    However, since 2014, Triaso includes total air burners in
                    all drum mixer as standard equipment with no extra charge.
                </p>
                <img src={img6.src} alt="" />
                <div
                    class="w-full max-w-sm mx-auto bg-white rounded-xl shadow-sm p-6"
                >
                    <div class="flex items-center justify-between mb-4">
                        <h2 class="text-red-600 font-semibold text-lg">
                            Partial air burner
                        </h2>
                        <span class="text-red-600 text-xl font-bold">›</span>
                    </div>
                    <div class="flex flex-col gap-4">
                        <div class="flex items-center gap-3">
                            <span class="w-4 h-4 rounded-full bg-[#081156]"
                            ></span>
                            <p class="text-gray-700">Total air</p>
                        </div>
                        <div class="flex items-center gap-3">
                            <span class="w-4 h-4 rounded-full bg-[#cf2019]"
                            ></span>
                            <p class="text-gray-700">Fuel</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full mt-20">
        <div class="w-full">
            <h1 class="text-2xl md:text-3xl text-black">
                Burner Feature: Fixed Power
            </h1>
        </div><br />
        <div class="w-full grid grid-cols-1 md:grid-cols-2">
            <div class="w-full flex flex-col font-thin text-base md:text-lg">
                <p>
                    Reducing burner power becomes necessary when production at
                    the asphalt plant must be slowed — whether due to truck
                    delays, slow paving, or other causes.
                </p><br />
                <p>
                    These are preset at the factory to operate efficiently only
                    between 90% and 100% of their rated capacity.
                    <ul class="list-disc ml-6">
                        <li>Below 90%, they are inefficient.</li>
                    </ul>
                </p><br />
                <p class="font-bold">
                    <span class="text-black">The reason: </span>When the
                    burner’s power is reduced, the fuel pressure also drops,
                    causing poor atomization. This leads to the formation of
                    microdroplets that do not combust properly.
                </p>
            </div>
            <div>
                <img src={img4.src} alt="" />
            </div>
        </div>
        <div class="w-full mt-10">
            <h1 class="text-2xl md:text-3xl text-black">
                Problems Caused by Fixed Power Burners
            </h1><br />
            <p class="text-lg md:text-base">
                The inefficiency of fixed power burners leads to several serious
                issues:
            </p>
        </div>
        <div class="w-full bg-white rounded-2xl p-8 mt-10">
            <ul
                class="font-thin list-disc ml-10 text-base md:text-lg space-y-2"
            >
                <li>
                    Unburned microdroplets result in a significant waste of
                    fuel.
                </li>
                <li>
                    The asphalt mix becomes contaminated with unburned fuel.
                </li>
                <li>
                    This contamination causes the asphalt pavement to
                    deteriorate prematurely, shortening its service life.
                </li>
                <li>
                    Additionally, the atmosphere is polluted with gases from
                    incomplete combustion.
                </li>
            </ul>
        </div>
    </div>
    <div class="w-full mt-10">
        <div class="space-y-3">
            <div class="w-1/5 h-[2px] bg-redBg"></div>
            <div class="w-1/6 h-[2px] bg-blueMain"></div>
        </div>
        <div class="w-full">
            <h1 class="text-black text-2xl md:text-3xl">
                Variable Power Burners
            </h1><br />
            <p class="text-lg md:text-xl">
                This problem (inefficiency at low production levels) is solved
                by using variable power burners.
            </p>
        </div>
        <div class="w-full bg-white rounded-2xl p-8 mt-10">
            <ul class="list-disc ml-10 text-base md:text-lg space-y-4">
                <li>
                    In these burners, fuel is atomized at constant pressure,
                    regardless of power variation.
                </li>
                <li>
                    When reducing power for lower production, fuel pressure does
                    not drop, so atomization remains efficient and no unburned
                    microdroplets are formed.
                </li>
                <li>
                    Since 2014, Triaso includes variable power burners as
                    standard in all its drum models, at no additional cost.
                </li>
                <li>
                    These Triaso burners maintain high efficiency across a wide
                    range, from 100% down to 30% of their capacity.
                </li>
                <li>
                    Some variable burners from other brands are only efficient
                    between 100% and 90%, not at lower capacities.
                </li>
            </ul>
        </div>
    </div>
    <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-10">
        <div class="flex flex-col justify-center items-center">
            <img src={img1.src} alt="" />
        </div>
        <div class="flex flex-col justify-center items-center">
            <img src={img5.src} alt="" />
        </div>
    </div>
    <div class="w-full text-center mt-10">
        <h2 class="text-2xl md:text-3xl text-black">
            We believe that these types of actions are the best investment.
        </h2>
    </div>
</section>
