---
import CardSection from "../IntegralAsphalt/CardSection.astro";
import BProv1 from "../../assets/images/Burners/BProv1.mp4";
import TwoColumnSection from "../unitComponents/TwoColumnSection.astro";
import Tred from "../../assets/images/AsphaltStorage/redT.webp";
import FPH1 from "../../assets/images/FuelPreHeaters/FPH1.webp";
import FPH2 from "../../assets/images/FuelPreHeaters/FPH2.webp";
import FPH3 from "../../assets/images/FuelPreHeaters/FPH3.webp";
import fIcon from "../../assets/images/FuelPreHeaters/FlamaIcon.svg"
import img1 from '../../assets/images/Burners/10.webp'
import FPHPlanos from "./FPHPlanos";
---

<section class="w-full font-bold mt-20 flex flex-col">
    <div
        class="w-full max-w-7xl mx-auto px-8 grid grid-cols-1 md:grid-cols-2 gap-10"
    >
        <div class="w-full flex flex-col gap-10">
            <div class="w-full">
                <video
                    src={BProv1}
                    autoplay
                    muted
                    loop
                    class="w-full rounded-lg"></video>
            </div>
            <div class="w-full">
                <h1 class="text-center font-bold text-2xl md:text-3xl">
                    No Smoke <br />No Residue <br /> No Early Failure
                </h1><br />
                <p class="text-base text-center lg:text-start md:text-lg font-thin text-grisT">
                    Unheated fuel often results in incomplete combustion,
                    producing smoke and leaving unburned droplets. These
                    contaminate the asphalt mix, shorten pavement life, and
                    create environmental and odor issues. Preheating eliminates
                    all of these issues .
                </p>
            </div>
        </div>
        <div class="w-full flex items-end">
            <img src={FPH3.src} alt="" class="rounded-lg" />
        </div>
    </div>
    <TwoColumnSection
        leftBg="bg-redBg"
        rightBg="bg-blueMain"
        imageSrc={Tred.src}
        imageAlt="Red T icon"
        imageWidth="150px"
    >
        <div slot="left" class="flex flex-col justify-center gap-3">
            <h1 class="text-xl md:text-2xl">Protects Your Plant Components</h1>
            <p class="text-base md:text-lg">
                Incomplete combustion causes soot buildup in the burner,
                clogging in the baghouse, and even potential damage to the drum
                mixer. The preheater ensures complete combustion, keeping the
                system clean and significantly reducing maintenance needs.
            </p>
        </div>
        <div slot="right" class="flex flex-col justify-center gap-3">
            <h1 class="text-xl md:text-2xl">
                Use Low-Cost Fuels Without <br /> Sacrificing Efficiency
            </h1>
            <p class="text-base md:text-lg">
                Combustion with heavy or low-grade fuels is harder without
                preheating. With fuel preheater, burners can use more affordable
                fuels while still achieve clean combustion—reducing operational
                costs without compromising performance.
            </p>
        </div>
    </TwoColumnSection>
    <div class="w-full">
        <div
            class="w-full px-8 md:px-52 bg-gradient-to-t from-[#272526] to-bgMain h-[100px]"
        >
        </div>
        <div class="w-full px-8 md:px-52 bg-[#272526] h-[100px]">
            <h1 class="text-2xl md:text-3xl font-bold text-bgBeige text-center">
                Be the only one in the market offering a mix that can't be
                matched
            </h1>
        </div>
        <div
            class="w-full bg-[#272526] grid grid-cols-1 px-8 md:px-52 gap-10 py-10"
        >
            <div class="max-w-7xl grid grid-cols-1 md:grid-cols-2 justify-center mx-auto gap-6">
                <div class="w-full text-white">
                    <h2 class="text-xl md:text-2xl font-bold">
                        Lower Emissions, Cleaner Operation
                    </h2><br />
                    <p class="text-base md:text-lg font-thin">
                        Proper atomization through preheating minimizes
                        emissions such as CO2, unburned hydrocarbons, and NOx.
                        It’s a cleaner and more responsible way to
                        operate—especially important in regions with strict
                        environmental regulations.
                    </p>
                </div>
                <div class="w-full text-white">
                    <h2 class="text-xl md:text-2xl font-bold text-end">
                        Automatic Safety System for Reliable Operation
                    </h2><br />
                    <p class="text-base md:text-lg font-thin text-end md:text-start">
                        The fuel preheater includes a built-in safety system
                        that prevents the heating element from activating if
                        there is no fuel in the pipeline. This protects the
                        system from overheating, prevents damage to components,
                        and ensures safe, efficient operation at all times.
                    </p>
                </div>
            </div>
        </div>

        <div class="w-full bg-[#272526] flex flex-col gap-10 relative">
            <div
                class="w-full bg-bgBeige grid grid-cols-1 px-8 md:px-52 py-10 -skew-y-2"
            >
                <div
                    class="skew-y-2 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 max-w-7xl mx-auto"
                >
                    <h2 class="text-xl md:text-2xl font-bold">
                        Inline Electric Heating for Maximum Efficiency
                    </h2><br />
                    <p class="text-base md:text-lg font-thin">
                        The fuel preheater uses an inline electric resistance
                        system capable of raising the fuel temperature by 40°C,
                        even at flow rates of up to 840 liters per hour. This
                        rapid, controlled heating reduces fuel viscosity
                        instantly, ensuring proper atomization and clean
                        combustion—without delays or external heat sources. It's
                        a compact, reliable solution for efficient burner
                        performance from the very first second.
                    </p>
                </div>
            </div>
            <div
                class="w-full max-w-7xl mx-auto bg-[#272526] grid grid-cols-1 md:grid-cols-2 py-10"
            >
                <div class="flex justify-center mx-auto px-8">
                    <div class="w-full text-white">
                        <h2 class="text-xl md:text-2xl font-bold">
                            Improved Fuel Atomization
                        </h2><br />
                        <p class="text-base md:text-lg font-thin">
                            The fuel preheater lowers the viscosity of the fuel,
                            allowing it to atomize properly into fine droplets
                            that burn completely. This ensures cleaner
                            combustion, better heat transfer, and no leftover
                            fuel particles in the mix.
                        </p>
                    </div>
                </div>
            </div>
            <div class="absolute bottom-[12rem] right-0 lg:bottom-0 lg:right-44 w-[35%] lg:w-1/4 flex justify-center">
                <img src={FPH1.src} alt="" />
            </div>
        </div>
    </div>
    <div class="w-full flex justify-center">
        <img src={FPH2.src} alt="" />
    </div>
    <div
        class="w-full max-w-7xl mx-auto px-8 pb-5 flex flex-col justify-center items-center lg:justify-end lg:items-end"
    >
        <h2 class="text-2xl md:text-3xl font-bold text-redBg text-center lg:text-end">
            Standard Equipment, No Added Cost
        </h2>
        <p class="text-base md:text-lg font-thin lg:w-1/2 text-center lg:text-end">
            Unlike other manufacturers that sell it as an upgrade, Triaso®
            includes the fuel preheater as standard in all burner-equipped
            plants since 2014. No extra charges—just smarter, more efficient
            combustion built in.
        </p>
    </div>
    <div class="w-full max-w-7xl mx-auto pb-5 px-8 flex flex-col gap-6">
        <h1 class="text-black text-xl md:text-2xl">
            The Importance of Fuel Preheaters in your Asphalt Plant
        </h1>
        <div class="w-full flex flex-col justify-end items-start space-y-4">
            <div class="h-0.5 w-1/3 bg-blueMain"></div>
            <div class="h-0.5 w-1/3 bg-redBg ml-10"></div>
        </div>
        <p class="font-thin text-base md:text-lg">
            Modern asphalt plant burners are specifically designed for
            low-viscosity fuels. Diesel, being low in viscosity, burns
            efficiently but comes at a high cost. In contrast, the lower the
            cost of the fuel, the higher its viscosity tends to be—making it
            more difficult to burn effectively.
        </p>
        <img src={img1.src} alt="" class="rounded-lg">
        <p class="font-thin text-base md:text-lg">
            To efficiently burn low-cost fuels, it is necessary to heat them
            before combustion in order to reduce their viscosity—a process known
            as preheating. Without preheating, fuel atomization becomes
            inefficient, resulting in many unburned microdroplets and incomplete
            combustion. This is especially important because the cheaper the
            fuel, the more difficult it is to burn properly.
        </p>
    </div>
    <div>
        <img src="" alt="" />
    </div>
    <div class="w-full max-w-7xl mx-auto px-8 relative flex flex-col gap-6">
        <img src={fIcon.src} alt="" class="absolute top-[-8px] left-[-82px] w-1/4  -z-10 pointer-events-none" />
        <div class="w-full text-center lg:text-end">
            <h2 class="text-2xl md:text-3xl">
                Problems Caused by Not Preheating Low-Cost Fuels
            </h2><br />
            <p class="text-grisT text-lg md:text-xl">
                Low-cost fuels that are not preheated cause and intensify the
                following serious problems:
            </p>
        </div>
        <div
            class="lg:w-4/5 bg-white rounded-2xl p-4 self-center text-lg md:text-xl text-grisT flex justify-center"
        >
            <ul class="list-disc ml-6">
                <li>
                    Unburned microdroplets lead to a significant waste of fuel
                </li>
                <li>The hot-mix becomes contaminated with unburned fuel</li>
                <li>
                    This contamination causes the asphalt pavement to have a
                    much shorter service life
                </li>
                <li>
                    Additionally, the atmosphere is polluted by gases from
                    incomplete combustion
                </li>
                <ul class="list-disc ml-6">
                    <li>
                        Paying environmental fees for operating polluting
                        equipment.
                    </li>
                </ul>
            </ul>
        </div>
    </div>
    <div
        class="w-full bg-[url(src/assets/images/IntegralAsphalt/Hero1.jpg)] bg-center my-10"
    >
        <div class="w-full bg-black/70 py-20 px-8 md:px-52 bg-cover h-full">
            <ul class="text-white text-xl md:text-2xl space-y-5">
                <li>
                    Only brands with cutting-edge technology offer preheaters,
                    usually as an expensive add-on option.
                </li>
                <li>
                    Since 2014, Triaso includes preheaters in all of its drum
                    models—Parallel Flow and Counterflow—as standard equipment,
                    with no extra cost.
                </li>
                <li>
                    This is part of our effort to reduce pollution and extend
                    the lifespan of roadways.
                </li>
                <li>
                    We believe that these types of actions are the best
                    investment.
                </li>
            </ul>
        </div>
    </div>
    <FPHPlanos client:only />
    <CardSection />
</section>
