---
import img1 from '../../assets/images/AsphaltPlant/silos1.jpg';
import img2 from '../../assets/images/AsphaltPlant/Aislamiento.png';
import img3 from '../../assets/images/AsphaltPlant/bin2.png';
import img4 from '../../assets/images/AsphaltPlant/silos2.png';
import img5 from '../../assets/images/AsphaltPlant/silos3.png';
---
<div class="flex flex-col items-center justify-center px-8 lg:px-52 mt-20 font-bold text-grisT">
    <div class="grid grid-cols-1 lg:grid-cols-2">
        <img src={img1.src} alt="">
        <div class="p-4 flex flex-col items-center justify-center">
            <h1 class="lg:text-4xl text-2xl text-redBg w-full text-start">Hot-Mix</h1>
            <h1 class="lg:text-4xl text-2xl w-full text-start">Storage Silos</h1><br>
            <p class="text-justify">
                Relocatable and self-erecting silos offer flexible and efficient solutions
                 for storage needs in industries such as construction and asphalt production. 
                 These silos are designed for easy transportation and quick setup, making them 
                 ideal for projects that require frequent relocation. With a self-erecting system,
                  they minimize the need for heavy machinery during installation, reducing setup 
                  time and labor costs. <br><br> Built to withstand harsh environments, 
                  they ensure reliable storage capacity, optimal material protection, 
                  and seamless integration into various operations, improving productivity and 
                  reducing downtime.
            </p>
            <button class="bg-redBg hover:redBgHover max-w-[130px] text-white mt-5 rounded-2xl py-1 px-4">
                Learn more</button>
        </div>

    </div>
    <div class="grid grid-cols-1 lg:grid-cols-6">
        <div class="flex flex-col items-center justify-center col-span-1">
            <img src={img2.src} alt="">
            <h1 class="lg:text-3xl text-xl text-blueMain text-center">Six inches</h1>
            <h2 class="lg:text-2xl text-lg text-black text-center">fiberglass insulation</h2>
        </div>
        <div class="col-span-1"></div>
        <div class="col-span-4 bg-white rounded-2xl grid grid-cols-1 lg:grid-cols-2 p-8 self-start">
            <div class="flex flex-col gap-4">
                <h1 class="lg:text-2xl text-xl text-black">Even Distribution Without Segregation</h1>
                <p class="lg:text-lg text-base text-justify">Triaso® silos use a top-mounted batcher that collects a full load
                     of mix before discharging it in one motion through overlapping clam-style gates.
                      These gates open rapidly and guide the mix to fall centered, distributing it
                       evenly across the silo floor. Their cutting action reduces wear and avoids
                        material buildup. This method prevents segregation, ensures uniform layering,
                         and maintains the mix’s quality during storage.</p>
            </div>
            <img src={img3.src} alt="">
        </div>

    </div>
    <div class="flex flex-col items-center justify-center">
        <h1 class="lg:text-4xl text-2xl text-end w-full mb-8">SELF-ERECTING SYSTEM</h1>
        <p class="lg:text-lg text-base mb-4">The self-erecting silo is equipped with telescopic hydraulic cylinders, 
            enabling quick and efficient lifting. With a setup time of just 10 minutes,
             it ensures rapid deployment. The hydraulic locking bolts provide secure vertical
              and horizontal positioning, delivering stability and precision during operation.
        </p>
        <div class="grid grid-cols-1 lg:grid-cols-4 gap-6">
            <img src={img4.src} alt="" class="rounded-2xl">
            <div class="bg-white rounded-2xl p-4 self-start">
                <p>Telescopic hydraulic cylinders for lifting.</p>
            </div>
            <div class="bg-white rounded-2xl p-4 self-start">
                <p>Telescopic hydraulic cylinders for lifting.</p>
            </div>
            <div class="bg-white rounded-2xl p-4 self-start">
                <p>Telescopic hydraulic cylinders for lifting.</p>
            </div>
        </div>
    </div>
    <div class="flex flex-col items-center justify-center">
        <h1 class="lg:text-4xl text-2xl text-end w-full mb-8">SEMI-STATIONARY SILO</h1>
        <p class="lg:text-lg text-base mb-4">The semi-stationary is the ultimate silo,
             designed to offer unparalleled efficiency, flexibility, and durability for asphalt storage.
              Combining advanced technology with robust construction, this silo provides seamless 
              operation in both stationary and mobile setups. Engineered for high performance, 
              it ensures maximum productivity while maintaining the highest standards of quality and safety. 
              Whether for large-scale projects or relocatable needs, the Ultimate Silo delivers 
              unmatched reliability and convenience.
        </p>
        <div class="grid grid-cols-1 lg:grid-cols-4">
            <div class="col-span-1"></div>
            <img src={img5.src} alt="" class="col-span-3">
        </div>
        
    </div>

</div>