---
import item1 from "../../assets/images/DrumMixers/extrareinfo.jpg";
import item2 from "../../assets/images/DrumMixers/plantaLim.png";
import item3 from "../../assets/images/DrumMixers/singlegift.gif";
import item4 from "../../assets/images/DrumMixers/drumT.png";
import img3 from '../../assets/images/AsphaltPlant/render.png';
import DMProv1 from "../../assets/images/DrumMixers/DMProv1.png";
import obracivil from "../../assets/images/DrumMixers/obracivil.jpg";
import obracivil2 from "../../assets/images/DrumMixers/obracivil2.jpg";
import Image from 'astro/components/Image.astro';
import Tred from '../../assets/images/AsphaltStorage/redT.png';
import TwoColumnSection from '../unitComponents/TwoColumnSection.astro';
import AcordeonItem from '../unitComponents/AcordeonItem';
import videoProv from "../../assets/images/DrumMixers/PlaC140ET.mp4";
import AcordeonItemCol from '../unitComponents/AcordeonItemCol';
---
<div class="w-full flex flex-col items-center justify-center font-bold mt-10">
    <div class="lg:px-52 px-8">
        <h1 class="text-redBg text-xl md:text-3xl">The One and Always</h1><br>
        
    </div>
    <div class="w-full lg:px-52 px-8">
        <img src={obracivil.src} alt="" class="rounded-lg w-3/5"/>
    </div>
    <div class="w-full flex flex-col md:flex-row lg:px-52 px-8 my-10 items-center">
        <div class="w-full md:px-20">
            <h2 class="text-black text-lg md:text-xl">Engineered for Demanding Producers. Built for Performance.</h2><br>
            <p class="text-grisT text-base md:text-lg text-justify">At Triaso, we know that no two asphalt operations are alike.
                 That’s why our plants are precision-engineered to match each producer’s unique requirements.
                  From heavy-duty construction designed for continuous operation to configurations that improve 
                  efficiency and safety, every component serves a defined purpose.
            <br><br>
            With a range of capacities and fully customizable features, our plants adapt 
            to your operation—not the other way around. Whether you're expanding capacity
             or optimizing your process, Triaso delivers the flexibility, performance, and 
             reliability you need to stay ahead in a competitive market.</p>
        </div>
        <div>
            <img src={obracivil2.src} alt="" class="rounded-2xl"/>
        </div>
    </div>
    <div class="w-full lg:px-52 px-8">
        <img src={DMProv1.src} alt="" class="rounded-lg w-3/5"/>
    </div>
    <div class="w-full flex flex-col gap-3 my-10">
        <h2 class="text-blueMain text-3xl lg:text-4xl text-center px-8">Precision where it matters. </h2>
        <h2 class="text-blueMain text-3xl lg:text-4xl text-center px-8">Strength that lasts. </h2>
        <h2 class="text-blueMain text-3xl lg:text-4xl text-center px-8">Flexibility when it counts. </h2>
        <h2 class="text-blueMain text-3xl lg:text-4xl text-center px-8">That’s the Triaso promise. </h2>
    </div>
    <div class="md:mx-52 mx-8 p-4 flex flex-col items-center justify-center bg-white rounded-2xl">
        <h2 class="text-2xl md:text-3xl">Retractable Elevator for Efficient Transport and Operation
            </h2>
        <div class="">
            <div class="w-full flex justify-center">
                <video src={videoProv} autoplay muted playsinline class="w-3/5"></video>
            </div>
            <p class="text-grisT text-justify">
                Triaso’s vertical elevator is designed with a retractable configuration that complies 
                with DOT transportation height limits, ensuring safe and legal road transport. 
                Once the drum mixer is installed on-site, the elevator extends to its full operational height,
                 allowing for efficient material transfer with minimal setup time. 
                 This smart design improves logistics while maintaining high performance during loading and 
                 discharge.
            </p>
        </div>
    </div>
    <div class="w-full space-y-3 my-6">
        <div class="h-0.5 bg-redBg w-1/5 self-start"></div>
        <div class="h-0.5 bg-blueMain w-1/4 pr-6 self-start"></div>
    </div>
    <h2 class="text-2xl md:text-3xl text-center text-redBg mt-10">With Triaso, Become the Exclusive Provider
             of Hot Mix <br> for All Paving Projects in Your Region
        </h2>
    <Image src={img3} alt="" class="mt-10"/>
    <TwoColumnSection
    leftBg="bg-redBg"
  rightBg="bg-blueMain"
  imageSrc={Tred.src}
  imageAlt="Red T icon"
  imageWidth="150px"
    >
        <div slot="left" class="flex flex-col justify-center gap-3">
            <h1 class="text-xl md:text-2xl">STATIONARY DRUM MIXERS</h1>
            <p class="text-base md:text-lg">
                Durable and easy to transport, the drum mixers are designed for long-term operation, featuring heavy-duty steel supports 
                that eliminate the need for concrete foundations.
            </p>
        </div>
        <div slot="right" class="flex flex-col justify-center gap-3">
            <h1 class="text-xl md:text-2xl">
                MOBILE DRUM MIXERS
            </h1>
            <p class="text-base md:text-lg">
                Perfect for remote job sites, these mixers offer quick setup, portability, and high production 
                output—all while keeping operating costs low.
            </p>
        </div>
  </TwoColumnSection>
    <div class="w-full px-8 md:px-52 flex flex-col gap-3 my-10">
        <AcordeonItemCol title='Extra-reinforced front shield'  client:only>
            <div class="w-full grid grid-cols-2 gap-6 items-center py-5">
                <div class="w-full flex justify-center">
                    <img src={item1.src} alt="" class="rounded-lg w-3/4"/>
                </div>
                <div class="w-full">
                    <p class="text-base md:text-lg text-grisT font-light">
                    The Triaso® drum is fully sealed at both ends with extra reinforcement to maintain internal 
                    temperatures and maximize combustion efficiency. Heavy-duty steel and EPDM rubber seals prevent 
                    the entry of cold air, improving fuel economy and ensuring consistent, high-quality asphalt mixes.
                     The entire drum is sealed to prevent the entry of unwanted cold air, maintaining optimal internal 
                     temperatures and combustion efficiency. This airtight design includes an extra-reinforced front shield
                      and sealing components made of heavy-duty steel or EPDM rubber. These materials provide long-lasting
                       durability, resist high temperatures, and ensure that no external air disrupts the controlled environment 
                       inside the drum, improving fuel efficiency and mix quality.'
                    </p>
                </div>
            </div>
        </AcordeonItemCol>
        <AcordeonItemCol title='Optimized Insulation Design'  client:only>
            <div class="w-full grid grid-cols-2 gap-6 items-center py-5">
                <div class="w-full">
                    <p class="text-base md:text-lg text-grisT font-light">
                    The drum mixer is built with high-efficiency mineral wool insulation that maintains consistent
                     internal temperatures throughout the drying and mixing process. This insulation minimizes heat loss,
                      reduces fuel consumption, and ensures the asphalt mix stays at optimal temperature—delivering reliable
                       performance even in demanding weather conditions.
                    </p>
                </div>
                <div class="w-full flex justify-center">
                    <img src={item2.src} alt="" class="rounded-lg w-3/4"/>
                </div>
                
            </div>
        </AcordeonItemCol>
        <AcordeonItemCol title='Single-Point Adjustment System'  client:only>
            <div class="w-full grid grid-cols-2 gap-6 items-center py-5">
                <div class="w-full flex justify-center">
                    <img src={item3.src} alt="" class="rounded-lg w-3/4"/>
                </div>
                <div class="w-full">
                    <p class="text-base md:text-lg text-grisT font-light">
                        Triaso® equips all its drum mixers with a centralized trunnion adjustment system designed for fast,
                         precise alignment in the field. Each trunnion base includes a fixed central pivot that keeps the
                          drum tire centered during adjustments, eliminating guesswork and preventing lateral drift. With 
                          a single-point adjustment mechanism, operators can easily align the drum without needing to reposition
                           multiple components. This system ensures smoother rotation, reduces wear on tires and rollers, and
                            simplifies maintenance—keeping your plant running efficiently with minimal downtime.
                    </p>
                </div>
                
                
            </div>
        </AcordeonItemCol>
        <AcordeonItemCol title='Drum Tires & Trunnions'  client:only>
            <div class="w-full grid grid-cols-2 gap-6 items-center py-5">
                <div class="w-full flex justify-center">
                    <img src={item4.src} alt="" class="rounded-lg w-3/4"/>
                </div>
                <div class="w-full">
                    <p class="text-base md:text-lg text-grisT font-light">
                        At the heart of every Triaso drum mixer is a heavy-duty trunnion drive system engineered for reliability 
                        and adaptability. Each unit is powered by two high-efficiency electric motors. This system enables precise 
                        speed adjustments—critical for optimizing material curtain behavior when producing hot-mix asphalt or 
                        high-percentage RAP blends.
                    </p>
                </div>                
            </div>
            <div class="w-full text-base md:text-lg text-grisT font-light">
                <p>
                    Special high-carbon alloy steel trunnions and tires forged and normalized, with fixed central pivot roller
                     bases to prevent lateral misalignment and facilitate drum flotation.
                </p><br>
                <p>
                    The trunnions are forged, precision-machined, and heat-treated for maximum durability, and come equipped with
                     industry-trusted bearings. Designed for smooth, stable rotation under all load conditions, this configuration
                      delivers consistent performance while minimizing wear and maintenance over time.
                </p>
            </div>
        </AcordeonItemCol>
        <AcordeonItemCol title='Triaso Thrust Rollers'  client:only>
            <div class="w-full grid grid-cols-2 gap-6 items-center py-5">
                <div class="w-full">
                    <p class="text-base md:text-lg text-grisT font-light">
                        Triaso drum mixers rotate on solid one-piece forged steel tires, delivering the strength and 
                        reliability needed for continuous operation. These tires are secured using bolt-on spring plate
                         assemblies that flex with thermal expansion, preventing stress and distortion during high-temperature 
                         cycles.
                    </p><br>
                    <h2 class="text-lg md:text-xl text-black font-bold">
                        Built to Move. Designed to Last.
                    </h2><br>
                    <p class="text-base md:text-lg text-grisT font-light">
                        To maintain precise alignment and stability during rotation, the system features individual guide rollers
                         on every tire. This system ensures smooth, centered operation throughout the production process—reducing
                          wear and preserving the integrity of the entire assembly. Rugged, responsive, and built for long-term performance.
                    </p>
                </div>   
                <div class="w-full flex justify-center">
                    <img src={item4.src} alt="" class="rounded-lg w-3/4"/>
                </div>             
            </div>
        </AcordeonItemCol>
    </div>

</div>