---
import DMVideo from "../../assets/images/DrumMixers/DMVideo.mp4";
import GallerySlider from "../unitComponents/GallerySlider";
import img1 from "../../assets/images/BagHouses/BHProv4.webp";
import img2 from "../../assets/images/BagHouses/bagHouses1.png";
import img3 from "../../assets/images/BagHouses/BHProv4.webp";
import single from "../../assets/images/DrumMixers/baghouse.webp";
import img4 from "../../assets/images/BagHouses/BHProv2.webp";
import TwoColumnSection from "../unitComponents/TwoColumnSection.astro";
import Tred from "../../assets/images/AsphaltStorage/redT.png";
import BHCustom from "./BHCustom.astro";
import BHoppers from "../../assets/images/BagHouses/BHoppers.webp";
import BHVideo from "../../assets/images/BagHouses/BHVideo.mp4";
import AcordeonItemCol from "../unitComponents/AcordeonItemCol";
import img5 from "../../assets/images/BagHouses/venturiSys.webp";
import img6 from "../../assets/images/BagHouses/ratioSys.webp";
import img7 from "../../assets/images/BagHouses/BHProv7.webp";
import OSection from "../unitComponents/OSection.astro";
import bannerNew from "../../assets/images/BagHouses/bannerImage.png";
import damperImg from "../../assets/images/BagHouses/damper.jpg";
import finesReturn from "../../assets/images/BagHouses/finesReturn.jpg"

const tanksSlides = [
    {
        image: "src/assets/images/BagHouses/GallerySlider/BHG1.webp",
        caption: "Self-contained Baghouse of 24,000 Acfm, Pulse Jet",
    },
    {
        image: "src/assets/images/BagHouses/GallerySlider/BHG2.webp",
        caption: "Self-contained Baghouse of 24,000 Acfm, Pulse Jet",
    },
    {
        image: "src/assets/images/BagHouses/GallerySlider/BHG3.webp",
        caption: "Self-contained Baghouse of 24,000 Acfm, Reverse",
    },
    {
        image: "src/assets/images/BagHouses/GallerySlider/BHG4.webp",
        caption: "Self-contained Baghouse of 24,000 Acfm, Reverse Air",
    },
];
---

<div
    class="w-full flex flex-col justify-center items-center font-bold md:mt-20"
>
    <div class="w-full flex justify-center">
        <h1 class="text-redBg text-2xl md:text-4xl">
            Your best business begins with us
        </h1>
    </div>

    <div
        class="max-w-7xl px-8 mx-auto grid grid-cols-1 md:grid-cols-2 gap-6 items-center justify-center py-10"
    >
        <div class="w-full">
            <div class="w-full">
                <img src={img2.src} alt="" class="w-full rounded-lg" />
            </div>
            <h2 class="text-grisT text-lg md:text-xl">
                Continuous cleaning system
            </h2><br />
            <p class="text-grisT font-thin text-base md:text-lg">
                A continuous cleaning system that keeps the filter bags in
                operation at all times. Bursts of compressed air are released
                through a super sonic nozzle, creating a pressure wave that
                rapidly expands each bag and dislodges the dust cake from its
                surface. The released particles fall into the hopper below,
                ensuring uninterrupted filtration and optimal bag performance.
            </p>
            <div>
                <img src={img3.src} alt="" />
            </div>
        </div>
        <div class="w-full">
            <div class="w-full h-[200px]"></div>
            <div class="w-full">
                <img src={img7.src} alt="" class="rounded-lg w-4/5" />
            </div>
        </div>
    </div>
    <OSection />
    <TwoColumnSection
        leftBg="bg-redBg"
        rightBg="bg-blueMain"
        imageSrc={Tred.src}
        imageAlt="Red T icon"
        imageWidth="150px"
    >
        <div slot="left" class="flex flex-col justify-center gap-3">
            <h1 class="text-xl md:text-2xl">Options to Meet Any Need</h1>
            <p class="text-base md:text-lg">
                Manufacturing highly portable self-contained, and integrated
                models, Triaso® baghouses operate at an air-to-cloth ratio as
                high as 8:1.
            </p>
        </div>
        <div slot="right" class="flex flex-col justify-center gap-3">
            <h1 class="text-xl md:text-2xl">
                Different Types of Filter Bags and Their Specific Applications:
            </h1>
            <ul class="text-base md:text-lg">
                <li>Polyester</li>
                <li>Nomex</li>
                <li>Polyamide (P84)</li>
            </ul>
        </div>
    </TwoColumnSection>
    <div>
        <img src={bannerNew.src} alt="Banner" />
    </div>
    <div class="w-full flex justify-center py-10 px-8 text-center">
        <h1 class="text-blueMain text-2xl md:text-3xl">
            Mechanism of baghouses available in pulse jet and reverse jet
        </h1>
    </div>
    <div
        class="w-full grid grid-cols-1 md:grid-cols-2 gap-10 max-w-7xl px-8 mx-auto py-10"
    >
        <div>
            <h2 class="text-center text-xl md:text-2xl">Reverse Air</h2><br />
            <p class="text-grisT font-thin text-base md:text-lg">
                A cleaning system that directs low-pressure air in the opposite
                direction to remove dust from the filter bags, typically used in
                larger baghouses or high-dust applications.
            </p>
        </div>
        <div>
            <h2 class="text-center text-xl md:text-2xl">Pulse Jet</h2>
            <p class="text-grisT font-thin text-base md:text-lg">
                A cleaning system that uses short bursts of compressed air to
                dislodge dust and debris from the filter bags, maintaining
                continuous airflow and filtration efficiency.
            </p>
        </div>
    </div>
    <div class="w-full bg-grisT text-white flex flex-col gap-6">
        <div
            class="max-w-7xl px-8 mx-auto grid grid-cols-1 md:grid-cols-2 gap-10 items-center py-6"
        >
            <div>
                <h2 class="text-xl md:text-2xl">Triaso Supersonic Nozzle</h2><br
                />
                <p class="text-base md:text-lg font-thin">
                    Our supersonic nozzles are 3D printed in-house using carbon
                    alloy materials for exceptional resistance to impacts, high
                    temperatures, and vibrations. Ensuring highly efficient fine
                    particle collection in the baghouse.
                </p>
            </div>
            <div class="w-full flex justify-center items-center">
                <img src={single.src} alt="" class="w-1/2" />
            </div>
        </div>
    </div>
    <div class="w-full bg-bgBeige">
        <div
            class="max-w-7xl px-8 mx-auto grid grid-cols-1 md:grid-cols-2 bg-bgBeige items-start"
        >
            <AcordeonItemCol
                title="Typical Venturi System"
                bgColor="bg-bgBeige"
                image={img5.src}
                client:only
            >
                <div class="w-full py-10 text-sm md:text-base text-grisT">
                    <p>
                        In venturi-based filtration systems, the airflow design
                        introduces multiple inefficiencies that affect both dust
                        collection and system durability. The high-speed airflow
                        exiting the venturi creates a low-pressure zone at the
                        upper section of the filter bag, pulling dust toward
                        that area. This causes uneven accumulation and reduces
                        filtration capacity. Over time, fine particles become
                        embedded deep within the fabric, making cleaning less
                        effective.
                    </p><br />
                    <p>
                        Another issue is the placement of the cleaning air pulse
                        near the bag opening. This location limits its ability
                        to draw in additional air that could improve dust
                        removal. Meanwhile, the narrow venturi forces filtered
                        air to accelerate rapidly into the plenum, creating
                        upward airflow that resists the cleaning pulse. As a
                        result, stronger air blasts are needed, increasing
                        energy use and putting mechanical stress on the
                        bags—leading to faster wear and reduced lifespan.
                    </p>
                </div>
            </AcordeonItemCol>
            <AcordeonItemCol
                title="Triaso High Ratio System"
                bgColor="bg-bgBeige"
                image={img6.src}
                client:only
            >
                <div class="w-full py-10 text-sm md:text-base text-grisT">
                    <p>
                        The new series baghouse improves dust removal by
                        completely redesigning the airflow process. Instead of
                        relying on a traditional venturi system, it uses a
                        supersonic converging-diverging nozzle to generate the
                        cleaning air jet. This shift in design allows for the
                        induction of more secondary air, enhancing the cleaning
                        efficiency. The removal of the venturi also reduces the
                        throat velocity at the bag’s inlet, preventing the
                        negative pressure that typically leads to dust buildup
                        at the top of the filter bag.
                    </p><br />
                    <p>
                        By fully utlization of the bag mouth, the cleaning air
                        jet expands evenly, minimizing the likelihood of dust
                        cake blowout. Leading to a more uniform bag inflation,
                        resulting in a more effective cleaning cycle and reduced
                        wear on the fabric. As a result, the Triaso Model only
                        requires half the filter area compared to traditional
                        venturi systems, enabling Triaso to offer high
                        performance in a more compact form.
                    </p>
                </div>
            </AcordeonItemCol>
        </div>
    </div><br />
    <div class="w-full px-8 text-center">
        <h2 class="text-blueMain text-2xl md:text-3xl text-center">
            Total and homogeneous return of fines to the asphalt mix to optimize
            its quality and pavement life.
        </h2>
    </div>
    <div class="max-w-7xl px-8 mx-auto">
        <div class="w-full flex justify-center">
            <video src={DMVideo} autoplay loop muted playsinline class="w-3/4"
            ></video>
        </div>
        <p class="text-base md:text-lg font-thin">
            After passing through the primary dust collector, the gas stream
            enters the baghouse inlet chamber. As it slows down, it flows
            beneath a protective barrier that shields the filter bags. in the
            clean air plenum draws the gas upward through the bags, causing fine
            particles to accumulate on thie outer surface while the cleaned air
            moves into the plenum and exits through the exhaust stack.
        </p>
    </div>

    <div
        class="w-full flex flex-col justify-start max-w-7xl px-8 mx-auto py-10"
    >
        <h1 class="text-xl md:text-2xl">Triaso Exhaust System</h1><br />
        <h2 class="text-lg md:text-xl text-redBg">
            Gas extractor with curved blade fan, more efficient and quieter.
        </h2>
    </div>
    <div
        class="w-full grid grid-cols-1 md:grid-cols-2 md:gap-10 max-w-7xl px-8 mx-auto py-10"
    >
        <div class="w-full flex justify-center">
            <video class="w-1/2" src={BHVideo} autoplay muted playsinline
            ></video>
        </div>
        <div
            class="w-full rounded-2xl p-4 bg-white text-justify text-base px-8 md:text-lg text-grisT flex flex-col justify-center"
        >
            <p>
                The Extractor is engineered to manage airflow efficiently and
                ensure proper gas filtration in the asphalt plant. Its
                curved-blade fan draws exhaust gases through the system while
                maintaining stable internal pressure and preventing external
                contaminants from entering.
            </p><br />
            <p>
                Using centrifugal force, the extractor separates dust from the
                gas stream. As the gases enter, they spiral along the inner
                walls, causing heavier particles to move outward. Around 70% of
                the total dust load settles at the bottom for collection,
                reducing the workload on the baghouse filters, improving overall
                efficiency, and extending filter life.
            </p>
        </div>
    </div>
    <div class="max-w-7xl px-8 mx-auto text-base md:text-lg py-10">
        <p>
            The finer dust particles are directed into the baghouse through a
            strategically placed high side inlet. This ensures horizontal and
            downward airflow, preventing fine dust from being re-entrained into
            the system. A knockout chamber decelerates airflow, allowing more
            material to drop into the hopper, while internal baffles ensure even
            air distribution and protect the bags from abrasion.
        </p><br />
        <p>
            This design optimizes air quality, enhances filtration efficiency,
            and minimizes maintenance requirements, ensuring a more effective
            and reliable operation.
        </p>
    </div>

    <div class="w-full bg-blueMain">
        <div
            class="max-w-7xl px-8 mx-auto grid grid-cols-1 md:grid-cols-2 gap-10 md:gap-20 bg-blueMain py-10"
        >
            <div>
                <img
                    src={damperImg.src}
                    alt="Damper"
                    class="w-[70%] aspect-square rounded-md"
                />
            </div>
            <div class="flex flex-col space-y-10">
                <h2 class="text-white text-2xl">Damper</h2>
                <p class="text-[#d9d9d9]">
                    The damper consists of a series of bars that, when fully
                    closed, form a shutter acting as a barrier for the exhaust
                    gases from the baghouse.
                </p>
                <p class="text-[#d9d9d9]">
                    The damper is electrically operated to regulate the flow of
                    dust-free exhaust gases from the asphalt plant. It can be
                    controlled manually from the control cabin or automatically
                    by pressure-differential sensors inside the baghouse,
                    maintaining the system within a safe operating pressure
                    range.
                </p>
            </div>
            <div class="w-full text-white">
                <h2 class="text-lg md:text-xl">Durable Construction</h2><br />
                <p class="font-thin text-base md:text-lg text-justify">
                    Our bin units are built with wear-resistant materials
                    designed to handle abrasive and heavy loads. This durable
                    construction ensures reliable performance under demanding
                    conditions. By reducing wear and minimizing maintenance
                    needs, the design extends service life and provides
                    consistent, long-term operation.
                </p>
            </div>
            <div class="w-full text-white">
                <h2 class="text-lg md:text-xl">Customizable Settings</h2><br />
                <p class="font-thin text-base md:text-lg text-justify">
                    The dosing system provides flexible control to meet the
                    specific requirements of each project. With options for both
                    manual and automatic adjustment, it allows precise
                    regulation of material flow. This versatility ensures
                    efficient handling of materials ranging from fine aggregates
                    to coarse components, allowing smooth integration into any
                    production setup.
                </p>
            </div>
        </div>
        <div class="w-full relative overflow-hidden bg-blueMain">
            <section
                class="w-full bg-bgBeige transform skew-y-3 py-32 origin-left z-10 relative"
            >
                <div
                    class="transform -skew-y-3 relative max-w-7xl px-8 mx-auto"
                >
                    <div class="mb-8">
                        <h2 class="text-xl md:text-2xl font-bold text-black">
                            Baghouses Fines Hoppers
                        </h2>
                    </div>

                    <div
                        class="w-full grid grid-cols-1 lg:grid-cols-2 gap-12 items-center"
                    >
                        <div class="w-full flex justify-center">
                            <img
                                src={BHoppers.src}
                                alt="Baghouse Hoppers"
                                class="rounded-2xl w-full md:w-4/5 object-cover z-20 relative mr-0 lg:mr-32 md:mr-32"
                            />
                        </div>

                        <div class="w-full">
                            <p
                                class="text-grisT text-base md:text-lg "
                            >
                                Fine dust particles enter the baghouse through a
                                high side inlet designed for controlled
                                horizontal and downward airflow. This
                                configuration prevents re-entrainment of fine
                                material. A knockout chamber slows the airflow,
                                allowing heavier particles to settle in the
                                hopper, while internal baffles distribute air
                                evenly and protect the filter bags from
                                abrasion.
                                <br /><br />
                                This design improves air quality, increases filtration
                                efficiency, and reduces maintenance, ensuring reliable
                                and consistent performance.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <div class="h-24 w-full bg-blueMain"></div>
        </div>
        <div
            class="max-w-7xl px-8 mx-auto grid grid-cols-1 lg:grid-cols-2 gap-10 md:gap-20 bg-blueMain py-10 text-white items-center"
        >
            <div class="order-2 lg:order-1">
                <p class="font-thin text-base md:text-lg text-justify">
                    After the baghouse collects fine particles in the hoppers, a
                    screw conveyor transfers them back to the drum mixer. The
                    return point is precisely timed and located at the liquid
                    asphalt injection zone, ensuring the fines are immediately
                    coated and fully incorporated into the hot-mix.
                </p><br />
                <p class="font-thin text-base md:text-lg text-justify">
                    By reintegrating the fines at this specific point, the
                    system prevents them from becoming airborne again, reduces
                    material loss, and improves the quality and durability of
                    the asphalt. This efficient recovery not only enhances
                    environmental performance but also maximizes resource use
                    for a more cost-effective operation.
                </p>
            </div>
            <div class="w-full order-1 lg:order-2">
                <h2 class="text-lg md:text-xl">Fines Return System</h2><br />
                <div class="w-full flex justify-center">
                    <img src={finesReturn.src} alt="" class="rounded-lg w-3/4" />
                </div>
            </div>
        </div>
        <BHCustom />
    </div>

    <GallerySlider client:only slides={tanksSlides} visibleThumbs={4} />
</div>
