---
const { title, subtitle, items = [], image } = Astro.props;
---

<section class="w-full text-white px-12 py-20 bg-blueMain">
    <div class="max-w-7xl mx-auto flex items-center justify-between gap-12">
        
        <div class="max-w-xl">
            <h1 class="text-4xl font-bold mb-4">{title}</h1>
            <p class="text-lg font-thin opacity-80 mb-6">{subtitle}</p>

            <ul class="space-y-3 text-lg">
                {items.map((item) => (
                    <li>
                        • {item.label}
                        {item.children && item.children.length > 0 && (
                            <ul class="ml-6 opacity-80 list-disc">
                                {item.children.map((sub) => (
                                    <li>{sub}</li>
                                ))}
                            </ul>
                        )}
                    </li>
                ))}
            </ul>
        </div>

        <div class="max-w-3xl">
            <img src={image} alt="Feature image" class="w-full object-contain" />
        </div>

    </div>
</section>

<!-- Los parametros para poner modificar y poner texto acorde al contenido tiene la siguiente estrctura: -->
 <!-- <AsphaltComponent
  title="Titulo que se le quiera poner"
  subtitle="Descripción"
  items={[
    {
      label: "Elemento en lista",
      children: ["sub-elemento 1", "sub-elemento 2 etc..."]
    },
    {
      label: "Elemento en lista 2",
      children: ["sub-elemento 1", "sub-elemento 2 etc..."]
    }
  ]}
  image={source de la imagen}
/> -->